<div class="content-wrap">
    <h2 class="content__heading-2 mb-10">Single-Page Application</h2>
    <p class="content__desc mb-10">
        SPA - Single-Page Application -> CSR -> Client side rendering
    </p>
    <p class="content__desc">
        MPA - Multi-Page Application -> SSR -> Server side rendering
    </p>

    <h3 class="content__heading-3 mt-20 mb-10">Sự khác biệt</h3>
    <h4 class="content__heading-4 mb-10">SPA</h4>
    <p class="content__desc mb-10">
        Được cho là cách tiếp cận hiện đại hơn
    </p>

    <p class="content__desc mb-10">
        Không yêu cầu tải lại trang trong quá trình sử dụng
    </p>

    <h4 class="content__heading-4 mb-10">MPA</h4>
    <p class="content__desc mb-10">
        Là cách tiếp cận cổ điển hơn
    </p>
    <p class="content__desc mb-10">
        Tải lại trang trong quá trình sử dụng
    </p>

    <h3 class="content__heading-3 mt-20 mb-10">So sánh</h3>
    <h4 class="content__heading-4 mb-10">Tốc độ</h4>
    <p class="content__desc mb-10">
        SPA nhanh hơn khi sử dụng
    </p>
    <P class="content__desc mb-10 ti-30">
        Phần lớn tài nguyên được tải trong lần đầu
    </P>
    <p class="content__desc mb-10 ti-30">
        Trang chỉ tải thêm dữ liệu mới khi cần
    </p>
    <p class="content__desc mb-10">
        MPA nhanh hơn khi sử dụng
    </p>
    <p class="content__desc mb-10 ti-30">
        Luôn tải lại toàn bộ trang khi truy cập và chuyển hướng
    </p>

    <h4 class="content__heading-4 mb-10">Bóc tách</h4>
    <p class="content__desc mb-10">
        SPA có phần Front-end riêng biệt
    </p>
    <p class="content__desc mb-10">
        MPA Front-end & Back-end phụ thuộc nhau nhiều hơn, được đặt trong cùng 1 dự án
    </p>

    <h4 class="content__heading-4 mb-10">SEO</h4>
    <p class="content__desc mb-10">
        SPA không thân thiện với SEO như MPA
    </p>
    <P class="content__desc mb-10">
        Trải nghiệm trên thiết bị di động tốt hơn
    </P>

    <h4 class="content__heading-4 mb-10">Quá trình phát triển</h4>
    <p class="content__desc mb-10">
        SPA dễ dàng tái sử dụng code (component)
    </p>
    <p class="content__desc mb-10">
        SPA bóc tách FE & BE
    </p>
    <p class="content__desc mb-10">
        Chia team phát triển song song
    </p>
    <p class="content__desc mb-10">
        Phát triển thêm mobile app dễ dàng
    </p>

    <h4 class="content__heading-4 mb-10">Phụ thuộc JavaScript</h4>
    <p class="content__desc mb-10">
        SPA phụ thuộc hoàn toàn vào JavaScript
    </p>
    <p class="content__desc mb-10">
        MPA có thể không cần JavaScript
    </p>

    <h4 class="content__heading-4 mb-10">Chọn SPA hay MPA</h4>
    <p class="content__desc">
        Không có thứ gì luôn hoàn hảo trong mọi trường hợp
    </p>
</div>