<div class="content-wrap">
    <h2 class="content__heading-2 mb-20">JSX - Fragment</h2>
    <p class="content__desc mb-10">
        Fragment: nếu không có fragment sẽ lỗi, vì chỉ tối đa 1 phần tử.
        Chúng ta bọc lại các elements với fragment vẫn đảm bảo tối đa 1 phần tử
    </p>
    <pre class="language-javascript"><code class="language-javascript">const MyComponent = () => {
    return (
        &lt;&gt;
            &lt;div&gt;div 1&lt;/div&gt;
            &lt;div&gt;div 2&lt;/div&gt;
            &lt;div&gt;div 3&lt;/div&gt;
        &lt;/&gt;
    );
}</code></pre>

</div>