<div class="content-wrap">
    <h2 class="content__heading-2 mb-20">Component</h2>
    <p class="content__desc mb-10">
        component = html + css + js
    </p>
    <pre class="language-javascript"><code class="language-javascript">const MyComponent = () => {
    return (
        &lt;div&gt;Hello world&lt;/div&gt;
    );
}</code></pre>
    <p class="content__desc mt-10 mb-10">
        Using component in file App.jsx
    </p>
    <pre class="language-javascript"><code class="language-javascript">&lt;MyComponent&gt;&lt;/MyComponent&gt; // viết đầy đủ
&lt;MyComponent/&gt; // cú pháp ngắn. 
    </code></pre>
</div>