.content {
    display: none;

    &-wrap {
        width: 100%;
    }

    &__desc {
        font-size: 1.6rem;
        line-height: 1.6;
    }

    &__heading {
        line-height: 1.8;
        
        &-2 {
            font-size: 2.5rem;
            color: #ff0000;
        }

        &-3 {
            font-size: 2rem;
            color: #b62f2f;
        }
    }

    &--active {
        display: flex;
    }
}