@use "../abstracts";

%flexItemsCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    margin-bottom: 50px;
}

.greeting {
    @extend %flexItemsCenter;
    flex-direction: column;

    margin: 50px 0 50px;
    width: 100%;

    @include abstracts.screen(md) {
        margin: 50px 0 30px;
    }

    &__title {
        font-size: 2.5rem;
        line-height: 1;

        @include abstracts.screen(sm) {
            font-size: 2rem;
        }
    }

    &__desc {
        font-size: 1.6rem;
        margin-top: 15px;

        @include abstracts.screen(sm) {
            font-size: 1.4rem;
        }
    }

    &__search {
        width: min(500px, 100%);
        height: 42px;
        display: flex;
        align-items: center;
        border-radius: 8px;
        
        margin-top: 25px;
        background: #fff;
        // border: 1px solid #ccc;
        &-input {
            flex: 1;
            height: 100%;
            padding: 0 20px;
        }

        &-btn {
            @extend %flexItemsCenter;
            padding: 13px;
        }

        &-icon {
            filter: brightness(0) saturate(100%) invert(58%) sepia(7%) saturate(113%) hue-rotate(295deg) brightness(100%) contrast(92%);
        }
    }
}

.language {
    display: flex;
    align-items: center;

    gap: 10px;
    padding: 20px;
    background: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: opacity 0.25s, transform 0.25s;

    &__left {
        flex-shrink: 0;
    }

    &__name {
        font-size: 2rem;
    }

    &:hover {
        opacity: 0.8;
        transform: translateY(-10px);
    }

    &__html {
        filter: brightness(0) saturate(100%) invert(35%) sepia(49%) saturate(2104%) hue-rotate(348deg) brightness(98%) contrast(86%);
    }

    &__js {
        filter: brightness(0) saturate(100%) invert(89%) sepia(71%) saturate(6751%) hue-rotate(331deg) brightness(93%) contrast(90%);
    }

    &__java {
        filter: brightness(0) saturate(100%) invert(36%) sepia(96%) saturate(711%) hue-rotate(164deg) brightness(96%) contrast(95%);
    }

    &__react {
        filter: brightness(0) saturate(100%) invert(79%) sepia(85%) saturate(2882%) hue-rotate(156deg) brightness(91%) contrast(81%);
    }

    &__node {
        filter: brightness(0) saturate(100%) invert(55%) sepia(59%) saturate(1637%) hue-rotate(43deg) brightness(100%) contrast(101%);
    }

    &__sql {
        filter: brightness(0) saturate(100%) invert(59%) sepia(26%) saturate(1517%) hue-rotate(9deg) brightness(99%) contrast(101%);
    }
}