@use "../abstracts";
.compiler {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__desc {
        font-size: 1.6rem;
        line-height: 1.6;
    }

    &__wrap {
        display: flex;
        align-items: center;
        gap: 10px;

        @include abstracts.screen(md) {
            flex-direction: column;
        }

        &-icon {
            @include abstracts.screen(md) {
                rotate: 90deg;
            }
        }

        &-text {
            background: #ffb700;
            padding: 10px;
            border-radius: 8px;
            user-select: none;
            @include abstracts.screen(md) {
                min-width: 136px;
                text-align: center;
            }
        }

        &-img {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__blockquote {
        margin-left: 0;
        padding: 0 16px;
        background: rgba(232, 230, 230, 0.9);
        border-left: 2px solid #ffb700;
    }

    &__image {
        border-radius: 8px;
        cursor: -webkit-zoom-in;
        cursor: zoom-in;
        display: block;
        max-width: 50% !important;
        margin-bottom: 10px;
    }

    &__figure {
        display: block;
        font-size: 1.4rem;
        margin: 0 auto;
        text-align: center;
        width: min(550px, 100%);
    }
}