<div class="content-wrap">
    <h2 class="content__heading-2 mb-10">Thẻ img</h2>
    <ul class="list">
        <li>
            Thẻ &lt;img&gt; (image - hình ảnh) được dùng để hiển thị hình ảnh trên trang web. 
            Đây là một thẻ tự đóng (self-closing tag);
        </li>
        <li>
            src (bắt buộc)
        </li>
        <li>
            alt (bắt buộc)
        </li>
        <li>
            width và height
        </li>
    </ul>

    <h3 class="content__heading-3 mt-20 mb-10">Thuộc tính src</h3>
    <ul class="list">
        <li>
                Thuộc tính src (source - nguồn) được dùng 
                để xác định đường dẫn (URL, path) của hình ảnh sẽ được hiển thị.
        </li>
        <li>
            Lưu ý, thẻ &lt;img&gt; không thực sự chèn hình ảnh vào trang web.
        </li>
        <li>
            Thẻ thẻ &lt;img&gt; tạo ra một không gian để hiển thị hình ảnh 
            trong trang web, hình ảnh sẽ được tải từ đường dẫn trong src.
        </li>
        <li>
            Vì vậy, hình ảnh trên trang web có thể bị lỗi khi:
        </li>
        <li>
            Hình ảnh không tồn tại (bị xóa, gõ sai URL, v.v)
        </li>
        <li>
            Lỗi kết nối mạng, không thể tải được hình ảnh.
        </li>
    </ul>

    <h3 class="content__heading-3 mt-20 mb-10">Tránh không chỉ định width, height</h3>
    <ul class="list">
        <li>
            Bạn nên tránh không chỉ định width và height 
            cho hình ảnh vì điều này có thể gây ra một số vấn đề sau:
        </li>
        <li>
            Trình duyệt không thể biết được kích thước của hình ảnh trong khi tải, 
            dẫn tới nội dung trang web có thể bị nhảy/giật sau khi hình ảnh được hiển thị.
        </li>
        <li>
            Người dùng có thể nhấn vào một liên kết ngoài ý muốn, nếu đúng lúc nhấn thì một 
            hình ảnh được hiển thị khiến nội dung bị đẩy xuống một đoạn.
        </li>
    </ul>

    <h3 class="content__heading-3 mt-20 mb-10">Tránh đặt width, height sai tỉ lệ ảnh</h3>
    <ul class="list">
        <li>
            Nếu đặt width, height sai tỉ lệ ảnh gốc có thể làm ảnh hiển thị bị méo, lỗi.
        </li>
        <li>
            Kích thước gốc của ảnh là 128 x 128 có tỉ lệ là 1 (128 / 128 = 1). 
            Quan trọng là bạn sử dụng đúng tỉ lệ ảnh gốc thì ảnh sẽ không bao giờ bị méo. 
            Ví dụ, hình ảnh trên có thể hiển thị tốt ở 100 x 100, 60 x 60, v.v.
        </li>
    </ul>

    <h3 class="content__heading-3 mt-20 mb-10">Thuộc tính alt</h3>
    <ul class="list">
        <li>
            Thuộc tính alt (alternative - thay thế) dùng để chỉ định 
            văn bản thay thế trong trường hợp hình ảnh không hiển thị.
        </li>
        <li>
            Tên ảnh đúng là f8_icon.png đã bị sửa thành f8_icon_abc.png 
            (hình ảnh không tồn tại). Vì vậy đây được coi là một URL lỗi và hình ảnh 
            không được hiển thị, văn bản trong thuộc tính alt đã được hiển thị thay thế.
        </li>
        <li>
            Những tình huống phổ biến văn bản thay thế được sử dụng:
        </li>
        <li>
            Hình ảnh bị lỗi (bị xóa, lỗi khi tải ảnh, v.v)
        </li>
        <li>
            Công cụ tìm kiếm thu thập dữ liệu trên trang
        </li>
        <li>
            Người dùng sử dụng trình đọc màn hình
        </li>
    </ul>

    <h3 class="content__heading-3 mt-20 mb-10">Lợi ích khi sử dụng thuộc tính alt</h3>
    <ul class="list">
        <li>    
            Việc sử dụng thuộc tính alt đôi khi không được chú ý, 
            điều này là không nên vì nó mang lại khá nhiều lợi ích.
        </li>
        <li>
            Những lợi ích tiêu biểu:
        </li>
        <li>
            Người dùng vẫn nhận được thông tin dù ảnh lỗi
        </li>
        <li>
            Công cụ tìm kiếm hiểu hình ảnh nói về điều gì
        </li>
        <li>
            Trình đọc màn hình đọc nội dung của thuộc tính alt
        </li>
    </ul>

    <h3 class="content__heading-3 mt-20 mb-10">Cách dùng thuộc tính alt đúng đắn</h3>
    <ul class="list">
        <li>
            Cách đơn giản nhất đó là bạn hãy tự đặt câu hỏi:
        </li>
        <li>
            Nếu hình ảnh không hiển thị thì nội dung văn bản nào có thể 
            thay thế nó mà vẫn đảm bảo biểu đạt được nội dung của hình ảnh.
        </li>
        <li>
            Nếu bạn vẫn thấy khó, hãy tham khảo các tình huống sau:
            <ul class="list list-sublist">
                <li>
                    Hình ảnh là Logo của trang web, văn bản thay thế 
                    có thể là: tên tổ chức, tên thương hiệu, v.v.
                </li>
                <li>
                    Hình ảnh biểu tượng cho các chức năng hoặc vai trò, 
                    văn bản thay thế là tên của chức năng hoặc vai trò đó.
                </li>
                <li>
                    Hình ảnh nằm trong nội dung blog hoặc tài liệu, 
                    văn bản thay thế là thông tin tóm tắt của đoạn văn trước hình ảnh đó.
                </li>
                <li>
                    Hình ảnh chỉ mang tính trang trí thì để alt="" (lưu ý là không bỏ thuộc tính alt 
                    vì các trình phân tích có thể coi là bạn đã quên thêm thuộc tính này).
                </li>
            </ul>
        </li>
    </ul>

    <h3 class="content__heading-3 mt-20 mb-10">Định dạng JPG/JPEG</h3>
    <ul class="list">
        <li>
            JPG là ảnh định dạng bitmap, chiếm khoảng 75% trong số các trang web có sử dụng hình ảnh.
        </li>
        <li>
            Ưu điểm
            <ul class="list list-sublist">
                <li>
                    Mức độ nén cao đồng nghĩa dung lượng lưu trữ thấp, tốc độ truyền tải qua mạng nhanh
                </li>
                <li>
                    Được hỗ trợ trong mọi trình duyệt
                </li>
                <li>
                    Hỗ trợ hiển thị hàng triệu màu sắc
                </li>
            </ul>
        </li>
        <li>
            Nhược điểm
            <ul class="list list-sublist">
                <li>
                    Hình ảnh có thể bị vỡ
                </li>
                <li>
                    Không hỗ trợ nền ảnh trong suốt
                </li>
                <li>
                    Chất lượng bị giảm khi độ nén cao
                </li>
                <li>
                    Không hỗ trợ ảnh động
                </li>
            </ul>
        </li>
        <li>
            Dùng khi
            <ul class="list list-sublist">
                <li>
                    Hình ảnh trong nội dung bài viết (blog, bài post trên Facebook, v.v)
                </li>
                <li>
                    Ảnh quảng cáo, banner không đòi hỏi ảnh trong suốtẢnh quảng cáo, banner không đòi hỏi ảnh trong suốt
                </li>
            </ul>
        </li>
    </ul>
    <div style="display: flex; justify-content: center;">
        <img width="50%" src="https://files.fullstack.edu.vn/f8-prod/public-images/630a481031f7a.png" alt="">
    </div>

    <h3 class="content__heading-3 mt-20 mb-10">Định dạng PNG</h3>
    <ul class="list">
        <li>
            JPG là ảnh định dạng bitmap, chiếm khoảng 80% trong số các trang web có sử dụng hình ảnh
        </li>
        <li>
            Ưu điểm
            <ul class="list list-sublist">
                <li>
                    Chất lượng hình ảnh không đổi khi bị nén
                </li>
                <li>
                    Được hỗ trợ trong mọi trình duyệt
                </li>
                <li>
                    Hỗ trợ hiển thị hàng triệu màu sắc
                </li>
                <li>
                    Hỗ trợ ảnh trong suốt
                </li>
            </ul>
        </li>
        <li>
            Nhược điểm
            <ul class="list list-sublist">
                <li>
                    Hình ảnh có thể bị vỡ
                </li>
                <li>
                    Không hỗ trợ ảnh động
                </li>
            </ul>
        </li>
        <li>
            Dùng khi
            <ul class="list list-sublist">
                <li>
                    Ảnh trên web yêu cầu độ trong suốt (logo, biểu tượng, v.v)
                </li>
                <li>
                    Các hình ảnh có kết hợp màu phức tạp như màu chuyển
                </li>
                <li>
                    Các hình ảnh cần chỉnh sửa lại nhiều lần
                </li>
            </ul>
        </li>
    </ul>
    <div style="display: flex; justify-content: center;">
        <img width="50%" src="https://files.fullstack.edu.vn/f8-prod/public-images/630dce097ac7d.png" alt="">
    </div>

    <h3 class="content__heading-3 mt-20 mb-10">Định dạng SVG</h3>
    <ul class="list">
        <li>
            SVG là định dạng vector, không phải bitmap, chiếm khoảng 51% 
        </li>
        <li>
            Vì được tạo nên từ các công thức toán học nên định dạng vector sẽ không bị vỡ khi phóng lớn.
        </li>
        <li>
            Ưu điểm
            <ul class="list list-sublist">
                <li>
                    Dung lượng có thể nhỏ
                </li>
                <li>
                    Dễ dàng chỉnh sửa bằng CSS
                </li>
                <li>
                    Phóng lớn mà không bị vỡ ảnh
                </li>
                <li>
                    Hỗ trợ ảnh động
                </li>
                <li>
                    Hỗ trợ ảnh trong suốt
                </li>
                <li>
                    Được hỗ trợ trong mọi trình duyệt
                </li>
            </ul>
        </li>

        <li>
            Nhược điểm
            <ul class="list list-sublist">
                <li>
                    Dung lượng tăng cao nếu hình có nhiều họa tiết khác nhau, phức tạp
                </li>
                <li>
                    Không thể đọc một phần của định dạng này, phải chờ tải xong hoàn toàn
                </li>
            </ul>
        </li>
        <li>
            Dùng khi
            <ul class="list list-sublist">
                <li>
                    Logo, icon với thiết kế dạng hình học, vector
                </li>
                <li>
                    Hình ảnh cần đáp ứng nhiều kích thước khác nhau
                </li>
            </ul>
        </li>
    </ul>
    <div style="display: flex; justify-content: center;">
        <img width="50%" src="https://files.fullstack.edu.vn/f8-prod/public-images/630a4d11bff81.png" alt="">
    </div>

    <h3 class="content__heading-3 mt-20 mb-10">Định dạng GIF</h3>
    <ul class="list">
        <li>
            GIF cũng là dạng bitmap như JPEG và PNG, khoảng 21% trang web có sử dụng định dạng GIF.
        </li>
        <li>
            GIF hỗ trợ ảnh động
        </li>
        <li>
            Ưu điểm
            <ul class="list list-sublist">
                <li>
                    Dung lượng nhỏ
                </li>
                <li>
                    Hỗ trợ ảnh trong suốt
                </li>
                <li>
                    Hỗ trợ ảnh động
                </li>
                <li>
                    Được hỗ trợ trong mọi trình duyệt
                </li>
            </ul>
        </li>
        <li>
            Nhược điểm
            <ul class="list list-sublist">
                <li>
                    Màu bị hạn chế
                </li>
                <li>
                    Hình ảnh có thể bị vỡ
                </li>
                <li>
                    Không chỉnh sửa được ảnh động
                </li>
                <li>
                    Ảnh động có thể chưa chuyển động khi chưa tải xong
                </li>
            </ul>
        </li>
        <li>
            Dùng khi:
            <ul class="list list-sublist">
                <li>
                    Khi cần các hình ảnh động
                </li>
            </ul>
        </li>
    </ul>
    <div style="display: flex; justify-content: center;">
        <img width="50%" src="	https://files.fullstack.edu.vn/f8-prod/manual_uploads/htmlcss-pro/dog_funny.gif" alt="">
    </div>

    <h3 class="content__heading-3 mt-20 mb-10">Định dạng WebP</h3>
    <ul class="list">
        <li>
            Hình ảnh WebP là một định dạng hình ảnh bitmap do Google tạo ra, đặc biệt dành cho việc sử dụng web.
        </li>
        <li>
            chiếm khoảng 5% trong số các trang web có sử dụng hình ảnh
        </li> 

        <li>
            Ưu điểm
            <ul class="list list-sublist">
                <li>
                    Dung lượng nhỏ hơn PNG, JPEG
                </li>
                <li>
                    Hỗ trợ ảnh trong suốt
                </li>
                <li>
                    Hỗ trợ ảnh động
                </li>
            </ul>
        </li>
        <li>
            Nhược điểm
            <ul class="list list-sublist">
                <li>
                    Hình ảnh có thể bị vỡ
                </li>
                <li>
                    Chưa được hỗ trợ bởi mọi trình duyệt
                </li>
                <li>
                    Giảm chất lượng khi chuyển đổi qua
                </li>
            </ul>
        </li>
    </ul>

    <h3 class="content__heading-3 mt-20 mb-10">Mã hóa Base64</h3>
    <ul class="list">
        <li>
            Đây không phải là một định dạng ảnh.
        </li>
        <li>
            Base65 là một chương trình mã hóa chuỗi ký tự.
        </li>
        
        <li>
            Ưu điểm
            <ul class="list list-sublist">
                <li>
                    Ảnh đi theo code HTML, CSS (không phải tải qua URL)
                </li>
                <li>
                    Giảm số lượng kết nối, tăng tốc độ tải trang
                </li>
            </ul>
        </li>
        <li>
            Nhược điểm
            <ul class="list list-sublist">
                <li>
                    Không tái sử dụng được như URL
                </li>
                <li>
                    Khi ảnh lướn thì chuỗi mã hóa lớn, gây nặng file HTML, CSS
                </li>
                <li>
                    Hình ảnh không được công cụ tìm kiếm đánh chỉ mục
                </li>
            </ul>
        </li>
        <li>
            Dùng khi
            <ul class="list list-sublist">
                <li>
                    Muốn ảnh đi kèm với code HTML, không phải tải qua một URL
                </li>
            </ul>
        </li>
    </ul>
    
    <h3 class="content__heading-3 mt-20 mb-10">Sử dụng ảnh phù hợp kích thước hiển thị</h3>
    <div style="display: flex; justify-content: center;">
        <img width="50%" src="https://files.fullstack.edu.vn/f8-prod/public-images/630c6905df994.png" alt="">
    </div>
    <blockquote class="blockquote blockquote--normal mt-10 mb-10">
        <p class="content__desc">   
            Hình ảnh hiển thị ở kích thước 200 x 112 trong khi kích thước gốc là 960 x 538.
        </p>
    </blockquote>
    <ul class="list">
        <li>
            Khi hình ảnh có kích thước lớn hiển thị với kích thước nhỏ (dùng width, height hoặc CSS) thì trình duyệt vẫn sẽ phải tải toàn bộ ảnh có kích thước lớn.
        </li>
        <li>
            Điều này làm cho chậm trang web một cách không cần thiết và lãng phí băng thông.
        </li>
    </ul>

    <pre class="language-html"><code class="language-html">&lt;!-- Kích thước gốc 960 x 538 --&gt;
&lt;img width="200" height="112" src="https://files.fullstack.edu.vn/f8-prod/manual_uploads/htmlcss-pro/sondn-ceo-f8-large.jpg" alt="Sơn Đặng - CEO & Founder tại F8" /&gt;
&lt;!-- Kích thước gốc 400 x 224 --&gt;
&lt;img width="200" height="112" src="https://files.fullstack.edu.vn/f8-prod/manual_uploads/htmlcss-pro/sondn-ceo-f8-small.jpg" alt="Sơn Đặng - CEO & Founder tại F8" /&gt;
</code></pre>

    <div style="display: flex; justify-content: center; gap: 10px;" class="mt-10 mb-10">
        <img width="30%" src="	https://files.fullstack.edu.vn/f8-prod/manual_uploads/htmlcss-pro/sondn-ceo-f8-large.jpg" alt="">
        <img width="30%" src="https://files.fullstack.edu.vn/f8-prod/manual_uploads/htmlcss-pro/sondn-ceo-f8-small.jpg" alt="">
    </div>

    <ul class="list">
        <li>
            Bạn có nhận ra sự khác biệt giữa chúng mà không cần phóng to không? Điều này gần như là không thể.
        </li>
        <li>
            Ảnh gốc là 59KB, trong khi ảnh đã thay đổi kích thước chỉ còn 22KB.
        </li>
        <li>
            Có nghĩa là đã tiết kiệm được 37KB, tương đương 37%. Trang web có thể tải nhanh hơn nếu kích thước các tệp trên trang được tối ưu hơn.
        </li>
    </ul>

    <blockquote class="blockquote blockquote--normal mt-10 mb-10">
        <p class="content__desc">
            Nên để kích thước hình ảnh gốc x 2 lần kích thước hiển thị của nó. Ví dụ ảnh hiển thị ở 200 x 112 thì kích thước gốc nên là 400 x 224. Điều này giúp hình ảnh hiển thị tốt trên cả màn hình Retina.
        </p>
    </blockquote>

    <h3 class="content__heading-3 mt-20 mb-10">Tối ưu dung lượng ảnh cho trang web</h3>
    <ul class="list">
        <li>
            Khi đã tối ưu về kích thước ảnh, nếu sử dụng định dạng PNG
        </li>
        <li>
            bạn vẫn có thể tiếp tục sử dụng tinypng.com để tối ưu dung lượng hình ảnh.
        </li>
        <li>
            Sử dụng công cụ sau: <a href="https://tinypng.com" target="_blank" rel="noopener">https://tinypng.com</a>
        </li>
    </ul>

    <div style="display: flex; justify-content: center;">
        <img width="50%" src="https://files.fullstack.edu.vn/f8-prod/public-images/630c6d69491d8.png" alt="">
    </div>

    <ul class="list">
        <li>
            Trang web này không thay đổi kích thước hình ảnh, nó chỉ tối ưu về dung lượng hình ảnh.
        </li>
        <li>
            Mỗi lần tối ưu giảm được từ 50% - 75% dung lượng hình ảnh mà vẫn đảm bảo về mặt hiển thị.
        </li>
    </ul>
</div>