<div class="content-wrap">
    <h3 class="content__heading-3 mb-10">Reset CSS là gì</h3>
    <ul class="list">
        <li>
            Reset CSS là ghi đè, chuẩn hóa lại các thuộc tính mặc định của trình duyệt, đảm bảo trên các trình duyệt khác nhau các thuộc tính CSS vẫn hoạt động giống nhau
        </li>
        <li>
            Để reset CSS, có thể tham khảo code tại:
            <ul class="list list-sublist">
                <li>
                    <a href="https://meyerweb.com/eric/tools/css/reset/" target="_blank" rel="noopener">Meyerweb</a>
                </li>
                <li>
                    <a href="https://github.com/necolas/normalize.css/blob/master/normalize.css" target="_blank" rel="noopener">Github normalize</a>
                </li>
            </ul>
        </li>
    </ul>

    <blockquote class="blockquote blockquote--normal mt-10 mb-10">
        <p class="content__desc">
            Luôn đặt file reset.css ở vị trí trên cùng trước khi sử dụng các CSS khác để tránh các thuộc tính CSS tại file reset.css ghi đè các thuộc tính CSS do bạn viết.
        </p>
    </blockquote>
</div>