<div class="content-wrap">
    <h3 class="content__heading-3 mb-10">Thẻ tùy chỉnh</h3>
    <ul class="list">
        <li>
            Custom Elements là gì
        </li>
        <li>
            Thẻ tùy chỉnh là các thẻ do các bạn tự tạo ra, tự đặt tên và không nằm trong quy chuẩn của W3C.
        </li>
        <li>
            Ví dụ, khi muốn làm một thông báo dạng toast, thẻ tùy chỉnh có thể có tên là &lt;app-toast&gt; &lt;/app-toast&gt;, tương tự với icon sẽ là &lt;app-icon&gt; &lt;/app-icon&gt;.
        </li>
    </ul>
    <h3 class="content__heading-3 mb-10">Trường hợp sử dụng</h3>
    <ul class="list">
        <li>
            Học tới JavaScript, bạn chỉ cần viết code một lần và có thể lặp lại sử dụng nhiều lần, chỉ cần điều chỉnh để phù hợp với tính năng mong muốn.
        </li>
    </ul>
</div>