<div class="content-wrap">
    <h2 class="content__heading-2 mb-10">HTML Semantic</h2>
    <p class="content__desc mb-10">
        <b>HTML Semantic</b> (<b>ngữ nghĩa</b> trong HTML) nói tới việc viết code HTML sử dụng các thẻ <b>có ý nghĩa cụ thể</b>, 
        <b>đúng mục đích</b> được tạo ra của thẻ thay vì chỉ chú ý tới phần giao diện.
    </p>
    <p class="content__desc mb-10">
        Trong HTML cung cấp nhiều thẻ có ngữ nghĩa.
    </p>
    <p class="content__desc">
        Ví dụ: <b>&lt;p&gt; thể hiện</b> một <b>đoạn văn</b>, <b>&lt;img&gt; thể hiện</b> một <b>hình ảnh</b>, v.v.
    </p>

    <h3 class="content__heading-3 mt-20 mb-10">HTML có thẻ không mang ngữ nghĩa?</h3>
    <p class="content__desc">
        Có. Trong HTML có <b>thẻ &lt;div&gt;</b> và <b>&lt;span&gt; không mang ngữ nghĩa</b>. 
        Nhìn vào 2 thẻ này chúng ta không biết nội dung bên trong cụ thể là loại nội dung nào.
    </p>

    <h3 class="content__heading-3 mt-20 mb-10">Sử dụng HTML đúng ngữ nghĩa có quan trọng?</h3>
    <p class="content__desc mb-10">
        <b>Tối ưu</b> hơn cho <b>SEO</b>, hỗ trợ các <b>công cụ tìm hiểu</b> dễ dàng <b>hiểu được ý nghĩa nội dung</b> trang <b>web</b>. 
    </p>
    <p class="content__desc">
        <b>Tối ưu</b> hơn cho <b>khả năng truy cập</b> (<b>Web accessibility</b>).
    </p>

    <h3 class="content__heading-3 mt-20 mb-10">Ưu tiên chọn Styles hay Semantics?</h3>
    <h4 class="content__heading-4 mb-10">1. Trong mẫu thiết kế có một thành phần không phải tiêu đề nhưng lại có cỡ chữ lớn và in đậm. Trường hợp này bạn có dùng thẻ h (h1 - h6) không?</h4>
    <p class="content__desc mb-10">
        Nếu dùng thẻ h trong tình huống này là sai ngữ nghĩa.
    </p>
    <p class="content__desc mb-10">
        Vì thẻ h được thiết kế để sử dụng cho các đầu mục, tiêu đề, v.v.
    </p>
    <h4 class="content__heading-4 mb-10">
        2. Trong thiết kế có một đoạn văn có cỡ chữ lớn sau thẻ h2, không phải là tiêu đề. 
        Sử dụng thẻ h3 có phù hợp không? Nếu không thì dùng thẻ nào?
    </h4>
    <p class="content__desc mb-10">
        Vì không phải tiêu đề nên chúng không sử dụng bất cứ thẻ h nào cả.
    </p>
    <p class="content__desc mb-10">
        Trường hợp này phù hợp nhất là sử dụng thẻ &lt;p&gt;
    </p>

    <h4 class="content__heading-4 mb-10">
        3. Trong một tiêu đề h1 có 2 từ khóa được đánh giá là rất quan trọng. 
        Bạn có sử dụng thêm thẻ nào để bao bọc nó không? Nếu có thì dùng thẻ nào?
    </h4>
    <p class="content__desc mb-10">
        Nếu có từ khóa được đánh giá là rất quan trọng nằm trong một tiêu đề.
    </p>
    <p class="content__desc">
        Nên sử dụng thêm thẻ &lt;strong&gt; để tăng tầm quan trọng của từ khóa này.
    </p>
</div>