<div class="content-wrap">
    <h2 class="content__heading-2 mb-10">HTML, CSS và JavaScript</h2>
    <ul class="list">
        <li>HTML (HyperText Markup Language - Ngôn ngữ đánh dấu siêu văn bản)</li>
        <li>CSS (Cascading Style Sheets - Các tập tin định kiểu theo tầng)</li>
    </ul>

    <blockquote class="blockquote blockquote--normal mt-10">
        <p class="content__desc">
            HTML là ngôn ngữ đánh dấu, HTML không phải là một ngôn ngữ lập trình.
        </p>
    </blockquote>

    <h3 class="content__heading-3 mt-20 mb-10">Siêu văn bản</h3>
    <ul class="list">
        <li>
            <b>Siêu văn bản (hypertext)</b> là loại văn bản chứa nhiều <b>loại dữ liệu</b> khác nhau như:
            <b>văn bản, âm thanh, hình ảnh, video,</b> … và các siêu liên kết đến các siêu văn bản khác.
        </li>
        <li>
            Trong khi đó, <b>văn bản thông thường</b> (không phải siêu văn bản) <b>chỉ</b> bao gồm nội dung <b>văn bản</b> và <b>hình ảnh</b>. 
            Ví dụ: một tờ <b>báo</b>, các trang trong một cuốn <b>sách</b>, … <b>không phải là siêu văn bản</b>.
        </li>
    </ul>

    <h3 class="content__heading-3 mt-20 mb-10">Cấu trúc tiêu chuẩn của file HTML</h3>
    <pre class="language-html"><code class="language-html">&lt;!DOCTYPE html&gt;
&lt;!-- thuộc tính lang="en" được công cụ dịch ngôn ngữ & trình đọc màn hình sử dụng. --&gt;
&lt;html lang=&quot;en&quot;&gt;
    &lt;head&gt;
        &lt;!-- Các thẻ meta ở đây --&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;!-- Nội dung trang web ở đây --&gt;
    &lt;/body&gt;
&lt;/html&gt;
</code></pre>
    <h3 class="content__heading-3 mt-20 mb-10">Tìm hiểu các thẻ meta</h3>
    <ul class="list">
        <li>Cung cấp thêm thông tin và dữ liệu cho trang web</li>
        <li>Là thẻ tự đóng (self-closing tag)</li>
        <li>
            <b>Meta charset</b> chỉ định bảng mã ký tự. (Ex: <b>&lt;meta charset="UTF-8" /&gt;</b>)
            UTF-8 hỗ trợ hiển thị các ký tự ngoài khoảng A - Z.
        </li>
        <li>
            <b>&lt;title&gt;HTML-CSS&lt;/title&gt;</b> cung cấp tiêu đề trang web hiển thị trên tab trình duyệt, hiển thị trong kết quả tìm kiếm (ví dụ: Google Search).
        </li>
        <li>
            <b>Thẻ meta viewport</b> để hỗ trợ trang web hiển thị trên các thiết bị có kích cỡ màn hình khác nhau (PC, tablet, mobile). Nếu thiếu thẻ meta viewport, khi truy cập trên thiết bị di động, nội dung có thể bị thu nhỏ và cần phải phóng to để dễ dàng đọc được.
        </li>
        <li>
            <b>Thẻ meta Open Graph</b> cung cấp thông tin cho trình thu thập dữ liệu của Facebook, hỗ trợ hiển thị thông tin trang web khi được chia sẻ trên mạng xã hội này.
        </li>
    </ul>

    <h3 class="content__heading-3 mt-20 mb-10">Boilerplate là gì và cách sử dụng</h3>
    <ul class="list">
        <li>
            <b>Boilerplate</b> là những đoạn code được <b>tiêu chuẩn hóa</b> và <b>tái sử dụng</b> ở <b>nhiều nơi</b> <b>ít khi thay đổi</b>.
        </li>
        <li>
            <b>Thay vì</b> viết đi viết lại những <b>đoạn code</b> đó <b>nhiều lần</b> 
            thì <b>boilerplate</b> thường được <b>tạo sẵn</b> bằng một cách nào đó <b>giúp tiết kiệm thời gian</b> hơn khi sử dụng (ví dụ như: phím tắt, cú pháp tắt, vv).
        </li>
        <li>
            Có thể tạo nhanh cấu trúc HTML cơ bản bằng cách gõ ! và sau đó nhấn phím Tab (được hỗ trợ bởi Emmet)
        </li>
    </ul>

    <h3 class="content__heading-3 mt-20 mb-10">Các thẻ HTML thông dụng</h3>
    <ul class="list">
        <li>
            Thẻ h1 sử dụng làm tiêu đề chính, thẻ h2 sử dụng làm tiêu đề phụ
        </li>
        <li>
            Thẻ p sử dụng để chứa các đoạn văn bản
        </li>
        <li>
            Thẻ b, i, u để in đậm, in ngiêng và gạch chân
        </li>
        <li>
            Thẻ a tạo ra các liên kết có thể nhấn vào, sử dụng thuộc tính href để chứa liên kết
        </li>
        <li>
            Thẻ img để hiển thị hình ảnh, liên kết tới hình ảnh được khai báo trong thuộc tính src
        </li>
        <li>
            Thẻ ul, li để hiển thị danh sách không có số thứ tự
        </li>
        <li>
            Thẻ ol, li để hiển thị danh sách có số thứ tự
        </li>
    </ul>

    <h3 class="content__heading-3 mt-20 mb-10">Tìm hiểu thuộc tính trong HTML</h3>
    <ul class="list">
        <li>
            Thuộc tính (attribute) được sử dụng để bổ sung thêm thông tin và dữ liệu cho các thẻ HTML.
        </li>
        <li>
            Các thuộc tính có dạng key="value" và luôn được viết trong thẻ mở của các thẻ HTML (<b>không bao giờ được viết trong thẻ đóng</b>).
        </li>
    </ul>
    <pre><code class="language-html">&lt;!-- 1 thuộc tính --&gt;
&lt;html lang="vi"&gt;
    ...
&lt;/html&gt;

&lt;!-- Nhiều thuộc tính --&gt;
&lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;</code></pre>
    <ul class="list">
        <li>
            Các thuộc tính toàn cục sử dụng cho mọi thẻ HTML.
            Ví dụ: lang, hidden, title
        </li>
    </ul>
</div>