<div class="content-wrap">
    <h2 class="content__heading-2 mb-10">Các thẻ tiêu đề</h2>
    <p class="content__desc mb-10">Trong HTML có <b>6 thẻ tiêu</b> đề từ <b>h1 - h6</b>.</p>
    <p class="content__desc mb-10">Trong đó <b>cấp 1</b> là <b>ưu tiên cao nhất</b>, <b>cấp 6</b> là <b>ưu tiên thấp nhất</b>.</p>
    <p class="content__desc mb-10">Các thẻ h được <b>sử dụng</b> để tạo <b>hệ thống phân cấp nội dung</b></p>
    <p class="content__desc mb-10"><b>Không sử dụng</b> các thẻ <b>h lồng nhau</b></p>
    <p class="content__desc">Xác định các thẻ tiêu đề bằng ý nghĩa nội dung của nó, <b>không</b> phải dựa trên <b>kích thước</b> của nó</p>

    <h3 class="content__heading-3 mt-20 mb-10">Thẻ tiêu đề h1</h3>
    <p class="content__desc mb-10">Nội dung thẻ &lt;h1&gt; giúp Google hiểu về cấu trúc & nội dung trang web</p>
    <p class="content__desc mb-10">Chỉ nên sử dụng tối đa 1 thẻ &lt;h1&gt; trong 1 trang</p>
    <p class="content__desc mb-10">Nên sử dụng thẻ &lt;h1&gt; cho tất cả các trang quan trọng</p>
    <p class="content__desc mb-10">Thẻ &lt;h1&gt; giúp nâng cao trải nghiệm người dùng và khả năng tiếp cận (Web accessibility) cho trang web.</p>
    <p class="content__desc">Giúp mọi người, bao gồm cả người khuyết tật có thể dễ dàng sử dụng trang web.</p>

    <h3 class="content__heading-3 mt-20 mb-10">Thẻ tiêu đề h2</h3>
    <p class="content__desc mb-10">Thẻ &lt;h2&gt; được sử dụng làm tiêu đề các phần chính trong một trang web.</p>
    <p class="content__desc">Thẻ &lt;h2&gt; được sử dụng làm tiêu đề con của thẻ &lt;h1&gt;.</p>

    <h3 class="content__heading-3 mt-20 mb-10">Thẻ tiêu đề h3, h4, h5, h6</h3>
    <blockquote class="blockquote blockquote--warning">
        <p class="content__desc mb-10"><b>Tránh bỏ qua</b> các <b>cấp độ</b></p>
        <p class="content__desc mb-10">
            Khi sử dụng các thẻ h, bạn nên tránh bỏ qua các cấp độ tiêu đề.
        </p>
        <p class="content__desc">Nếu bạn <b>đang sử dụng</b> thẻ <b>h1</b>, thì <b>sau đó</b> nên <b>là</b> thẻ <b>h2</b>. <b>Tránh bỏ qua</b> thẻ h2 mà <b>đi tới</b> luôn thẻ <b>h3</b>. Tương tự như vậy cho tới thẻ h6.</p>
    </blockquote>

    <p class="content__desc mt-20">
        <b>Các tiêu đề</b> có vai trò <b>quan trọng</b> trong <b>SEO</b>, nó <b>cung cấp nội dung từ khóa</b> và <b>cấu trúc phân cấp nội dung</b> trang web cho các <b>công cụ tìm kiếm</b>
    </p>
</div> 