<div class="content-wrap">
    <h2 class="content__heading-2 mb-10">Thẻ đoạn văn</h2>
    <p class="content__desc mb-10">
        Chữ p viết tắt của paragraph (ý nghĩa: đoạn văn). 
        Viết nhanh thẻ này với Emmet: gõ p và nhấn tab.
    </p>
    <p class="content__desc">
        Thẻ &lt;p&gt; cũng có thể được sử dụng cho các đoạn văn bản ngắn, không nhất thiết phải sử dụng với các đoạn văn bản dài và nhiều câu văn.
    </p>
    <p class="content__desc">
        Mỗi thẻ <p> sẽ luôn nằm trên một dòng mới. Ngoài ra, trình duyệt sẽ tự động thêm khoảng lề trên và dưới để ngăn cách giữa các thẻ &lt;p&gt;.
    </p>

    <h3 class="content__heading-3 mt-20 mb-10">Thẻ br</h3>
    <p class="content__desc mb-10">Thẻ ngắt dòng (Line Break element) trong HTML là &lt;br/&gt;</p>
    <p class="content__desc mb-10">được sử dụng để tạo ra một dòng mới trong một đoạn văn. Đây là một thẻ tự đóng.</p>
    <p class="content__desc mb-10">Trong thực tế, thẻ &lt;br&gt; rất hữu ích để tạo điểm ngắt dòng cho một bài thơ hoặc một địa chỉ.</p>
    <p class="content__desc mb-10">Trong HTML, nhiều khoảng trắng hoặc dấu ngắt dòng chỉ được coi là một khoảng trắng (một dấu cách).</p>
    <p class="content__desc mb-10">Thẻ &lt;br&gt; không nên được sử dụng để phân tách hai đoạn văn hoặc hai nội dung khác nhau, để đảm bảo tính ngữ nghĩa.</p>
    <p class="content__desc">Trường hợp duy nhất bạn nên sử dụng thẻ &lt;br&gt; đó là để tạo dòng mới trong cùng một đoạn văn.</p>
</div>