<div class="content-wrap">
    <h2 class="content__heading-2 mb-10">HTML Semantic</h2>
    <p class="content__desc mb-10">
        <b>HTML Semantic</b> (<b>ngữ nghĩa</b> trong HTML) nói tới việc viết code HTML sử dụng các thẻ <b>có ý nghĩa cụ thể</b>, 
        <b>đúng mục đích</b> được tạo ra của thẻ thay vì chỉ chú ý tới phần giao diện.
    </p>
    <p class="content__desc mb-10">
        Trong HTML cung cấp nhiều thẻ có ngữ nghĩa.
    </p>
    <p class="content__desc">
        Ví dụ: <b>&lt;p&gt; thể hiện</b> một <b>đoạn văn</b>, <b>&lt;img&gt; thể hiện</b> một <b>hình ảnh</b>, v.v.
    </p>

    <h3 class="content__heading-3 mt-20 mb-10">HTML có thẻ không mang ngữ nghĩa?</h3>
    <p class="content__desc">
        Có. Trong HTML có <b>thẻ &lt;div&gt;</b> và <b>&lt;span&gt; không mang ngữ nghĩa</b>. 
        Nhìn vào 2 thẻ này chúng ta không biết nội dung bên trong cụ thể là loại nội dung nào.
    </p>

    <h3 class="content__heading-3 mt-20 mb-10">Sử dụng HTML đúng ngữ nghĩa có quan trọng?</h3>
    <p class="content__desc mb-10">
        <b>Tối ưu</b> hơn cho <b>SEO</b>, hỗ trợ các <b>công cụ tìm hiểu</b> dễ dàng <b>hiểu được ý nghĩa nội dung</b> trang <b>web</b>. 
    </p>
    <p class="content__desc">
        <b>Tối ưu</b> hơn cho <b>khả năng truy cập</b> (<b>Web accessibility</b>).
    </p>
</div>