<div class="content-wrap">
    <h3 class="content__heading-3 mb-10">CSS colors</h3>
    <ul class="list">
        <li>
            Names
            <ul class="list list-sublist">
                <li>
                    140 colors: black, gray, green...
                </li>
            </ul>
        </li>

        <li>
            rgb(r, g, b); 
            <ul class="list list-sublist">
                <li>
                    3 thông số này sẽ chạy từ 0 - 255 cực đại
                </li>
                <li>
                    rgb(r g b / alpha)
                </li>
                <li>
                    rgb(r, g, b, 50%)
                </li>
            </ul>
        </li>
        <li>
            rgba(r, g, b, a); 
            <ul class="list list-sublist">
                <li>
                    a: alpha (độ trong suốt)
                </li>
                <li>
                    3 thông số này sẽ chạy từ 0 - 255, thông số cuối 0 - 1
                </li>
            </ul>
        </li>
        <li>
            hex
            <ul class="list list-sublist">
                <li>
                    hệ thập lục phân: 0123456789abcdef cực đại
                </li>
                <li>
                    <span style="padding: 2px 5px; background: #ff0000; margin-right: 2px;">#ff0000</span>
                    <span style="padding: 2px 5px; background: #00ff00; margin-right: 2px;">#00ff00</span>
                    <span style="padding: 2px 5px; background: #0000ff; margin-right: 2px;">#0000ff</span>
                    <span style="padding: 2px 5px; background: #0000ff90; margin-right: 2px;">#0000ff90</span>
                    <span style="color: #fff; padding: 5px; background: #000000;">#000000</span>
                </li>
            </ul>
        </li>

    </ul>
</div>