<div class="content-wrap">
    <h2 class="content__heading-2 mb-20">Chữ đậm, chữ nghiêng</h2>
    <h3 class="content__heading-3 mb-10">Giống nhau thẻ b và strong</h3>
    <p class="content__desc">Thẻ <b>&lt;b&gt;</b> và <b>&lt;strong&gt;</b> giống nhau về cách hiển thị, các trình duyệt hiển thị nội dung của 2 thẻ này dưới dạng chữ in đậm.</p>
    <h3 class="content__heading-3 mt-10 mb-10">Khác nhau thẻ b và strong</h3>
    <p class="content__desc mb-10">
        Thẻ <b>&lt;b&gt;</b> và <b>&lt;strong&gt;</b> khác nhau về ngữ nghĩa và mục đích sử dụng.
    </p>
    <blockquote class="blockquote blockquote--normal">
        <p class="content__desc mb-10">
            Thẻ <b>&lt;b&gt;</b> thường được sử dụng để <b>in đậm</b> một đoạn <b>văn bản</b>, nhằm <b>thu hút sự chú ý</b> của người đọc vào nội dung này.
        </p>
        <p class="content__desc">
            Thẻ <b>&lt;strong&gt;</b> sử dụng khi muốn thể hiện <b>sự quan trọng</b>, <b>nghiêm trọng</b>, <b>khẩn cấp</b>, v.v
        </p>
    </blockquote>

    <h3 class="content__heading-3 mt-20 mb-10">Thẻ strong với headings</h3>
    <p class="content__desc mb-10">
        Trong tình huống thẻ tiêu đề chứa các từ mang ý nghĩa quan trọng cho nội dung và có styles khác phần còn lại. 
    </p>
    <p class="content__desc mb-10">Chúng ta có thể sử dụng thẻ &lt;strong&gt; để đánh dấu các từ quan trọng này, vừa để CSS, vừa đảm bảo ngữ nghĩa.</p>
    <p class="content__desc mb-10">Nếu chúng ta phải cân nhắc về ngữ nghĩa và styles thì chúng ta nên chọn ngữ nghĩa, có 2 lý do chính:</p>
    <p class="content__desc mb-10">Mỗi thẻ HTML được tạo ra là có mục đích</p>
    <p class="content__desc">Ưu tiên ngữ nghĩa hơn vì styles có thể dùng CSS</p>

    <div class="separate"></div>

    <h3 class="content__heading-3 mt-20 mb-10">Giống nhau thẻ em và i</h3>
    <p class="content__desc">Trình duyệt hiển thị nội dung trong 2 thẻ này giống nhau, đều là in nghiêng.</p>
    <h3 class="content__heading-3 mt-10 mb-10">Khác nhau thẻ em và i</h3>
    <p class="content__desc mb-10">Thẻ &lt;i&gt; và &lt;em&gt; khác nhau về ngữ nghĩa và mục đích sử dụng.</p>
    <blockquote class="blockquote blockquote--normal">
        <p class="content__desc mb-10">Thẻ i</p>
        <p class="content__desc mb-10">Được sử dụng để thể hiện các phần nội dung trong một đoạn văn bản dưới kiểu chữ in nghiêng.</p>
        <p class="content__desc">
            Ví dụ như trong đoạn văn xuất các từ ngữ 
            chuyên ngành kỹ thuật, tên một tác phẩm, trích dẫn một câu nói, 
            nhắc tới các từ ở ngôn ngữ khác (bài viết tiếng Việt mà nhắc tới tiếng Pháp chẳng hạn), v.v.
        </p>
    </blockquote>

    <blockquote class="blockquote blockquote--normal mt-10">
        <p class="content__desc mb-10">Thẻ em</p>
        <p class="content__desc mb-10">Thẻ này ở thị trường VN thường ít được sử dụng hơn <b>thẻ &lt;i&gt;</b></p>
        <p class="content__desc mb-10">
            Thẻ này <b>mang ngữ nghĩa</b> được dùng để <b>nhấn mạnh</b> 
            <b>một phần nội dung</b> trong đoạn văn (ví dụ như nhấn <b>trọng âm</b> trong <b>tiếng Anh</b>).
        </p>
        <p class="content__desc">
            <b>Các trình đọc màn hình</b> cũng có thể <b>phân biệt</b> được <b>nội dung</b> trong <b>thẻ &lt;em&gt; để nhấn mạnh hơn</b> vào đó.
        </p>
    </blockquote>

    <h2 class="content__heading-2 mt-20 mb-10">Phân vân không biết dùng thẻ nào?</h2>
    <p class="content__desc mb-10">Cách giải quyết đơn giản như sau:</p>
    <p class="content__desc mb-10">
        <b>Phân vân</b> giữa <b>&lt;b&gt;</b> và <b>&lt;strong&gt;</b>: <b>dùng &lt;strong&gt;</b>
    </p>
    <p class="content__desc">
        <b>Phân vân</b> giữa <b>&lt;i&gt;</b> và <b>&lt;em&gt;</b>: <b>dùng &lt;em&gt;</b>
    </p>

    <blockquote class="blockquote blockquote--normal mt-20">
        <p class="content__desc mb-10">
            Tại sao lại có cách làm này?
        </p>
        <p class="content__desc mb-10">
            Bởi vì nếu đơn giản bạn chỉ muốn làm chữ in đậm hoặc in nghiêng 
            thì có thể quyết định ngay được là dùng thẻ &lt;b&gt; và &lt;i&gt;. 
        </p>
        <p class="content__desc mb-10">
            Trong tình huống bạn phân vân, khả năng cao bạn đang nghĩ về ngữ nghĩa, 
            nội dung của bạn có thể quan trọng và cần được nhấn mạnh hơn. 
        </p>
        <p class="content__desc">
            Vì vậy, khả năng cao dùng &lt;strong&gt; và &lt;em&gt; sẽ là hợp lý.
        </p>
    </blockquote>
</div>