<div class="content-wrap">
    <h2 class="content__heading-2 mb-10">Generics</h2>
    <p class="content__desc mb-10">
        Được đưa vào từ Java 5
    </p>
    <p class="content__desc mb-10">
        Cho phép sử dụng các kiểu trừu tượng trong chương trình
    </p>
    <p class="content__desc mb-10">
        Giống khái niệm template trong C++
    </p>
    <p class="content__desc mb-10">
        <b>Ưu điểm</b> khi sử dụng:
    </p>
    <p class="content__desc mb-10 ti-30">
        <b>Tránh</b> được các <b>lỗi ép kiểu</b> khi chạy chương trình
    </p>
    <p class="content__desc mb-10 ti-30">
        <b>Nhận diện sớm</b> các <b>lỗi</b> tại thời điểm <b>biên dịch (compile)</b>
    </p>
    <p class="content__desc mb-10 ti-30">
        <b>Tránh trùng lặp code</b> 
    </p>

    <table>
        <thead>
            <tr>
                <th>Ký tự</th>
                <th>Ý nghĩa</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="--text:center;">
                    E
                </td>
                <td style="--text:center;">
                    Element - phần tử
                </td>
            </tr>
            <tr>
                <td style="--text:center;">
                    K
                </td>
                <td style="--text:center;">
                    Key - khóa
                </td>
            </tr>
            <tr>
                <td style="--text:center;">
                    V
                </td>
                <td style="--text:center;">
                    Value - giá trị
                </td>
            </tr>
            <tr>
                <td style="--text:center;">
                    T
                </td>
                <td style="--text:center;">
                    Type - kiểu dữ liệu
                </td>
            </tr>
            <tr>
                <td style="--text:center;">
                    N
                </td>
                <td style="--text:center;">
                    Number - sô
                </td>
            </tr>
        </tbody>
    </table>
</div>