<div class="content-wrap">
    <h2 class="content__heading-2 mb-10">Inheritance</h2>
    <p class="content__desc mb-10">
        <b>Inheritance</b> là một khái niệm trong lập trình hướng đối tượng,
        cho phép một lớp (subclass) con thừa hưởng các thuộc tính (fields) và phương thức (methods) 
        từ một lớp cha (parent class | superclass).
    </p>
    <p class="content__desc mb-10">
        Lớp con có thể <b>tái sử dụng</b> các thuộc tính và phương thức từ lớp cha.
    </p>
    <p class="content__desc mb-10">
        Đồng thời có thể <b>mở rộng</b> hoặc <b>ghi đè</b> nếu cần. 
        Điều này giúp <b>giảm</b> sự <b>lặp lại</b> trong mã
        và <b>tăng</b> tính <b>tái sử dụng</b>
    </p>
    <h3 class="content__heading-3 mb-10">Override</h3>
    <p class="content__desc mb-10">
        <b>Override</b> là hiện tượng <b>con</b> có hàm trùng tên với hàm của <b>cha</b>.
    </p>
    <p class="content__desc mb-10">
        Override chỉ xảy ra khi khai 
        <b>cha new con</b>. Tức là gọi hàm cha nhưng <b>con ưu tiên</b>. 
        <span class="color-red">(xem hình 8.1 vùng ram của biến tham chiếu s1)</span>
    </p>
    <p class="content__desc">
        Khai con new con thì không thấy, vì gọi trực tiếp hàm con rồi
    </p>
    <h3 class="content__heading-3 mt-20 mb-10">Kế thừa level 1: Concrete class - lớp cụ thể</h3>
    <p class="content__desc mb-10">
        Vùng nhớ cha mở rộng 1 chút thành vùng nhớ con.
    </p>
    <p class="content__desc mb-10">
        Vùng nhớ con = vùng nhớ cha + extends (mở rộng thêm)
    </p>
    <figure class="content-img mb-10">
        <img src="./assets/img/inheritance.jpg" alt="inheritance" class="content-img__img">
        <figcaption>
            <em>Hình 8.1</em>
        </figcaption>
    </figure>
    <p class="content__desc mb-10">
        data
    </p>
    <pre class="language-javascript"><code class="language-javascript">public class Parent {
    protected String assetOne;
    protected String assetTwo;
    
    public Rectangle(String assetOne, String assetTwo) {
        this.assetOne = assetOne;
        this.assetTwo = assetTwo;
    }

    // getter & setter & toString...

    public void showProfile() {
        System.out.printf("Parent - asset1: " + assetOne + " - asset2: " + assetTwo);
    }
}</code></pre>
    <pre class="language-javascript"><code class="language-javascript">public class Child extends Parent {
    public Square(String assetOne, String assetTwo) {
        super(assetOne, assetTwo);
    }

    @Override
    public void showProfile() {
        System.out.printf("Child - asset1: " + assetOne + " - asset2: " + assetTwo);
    }

    public void sayHello() {
        System.out.print("Hi everyone, I'm a rich kid!!!");
    }
}</code></pre>
    <p class="content__desc mb-10">
        <b>super</b> chính là new Parent
    </p>

    <h4 class="content__heading-4 mb-20">Đặt vấn đề: khi khai cha new con</h4>

    <pre class="language-javascript"><code class="language-javascript">Parent child = new Child("Villa", "1000 BTC");</code></pre>
    <p class="content__desc mt-10 mb-10">
        Biến object chấm <b>không thể sờ</b> vào <b>phương thức sayHi()</b>
    </p>
    <p class="content__desc mb-10">
        Lý do: khai báo kiểu cha, chấm theo cha. Mặc dù trong RAM vẫn có.
    </p>
    <p class="content__desc mb-10">
        <b>Cách 1</b>: 
    </p>
    <p class="content__desc mb-10 ti-30">
        Ta sử dụng kỹ thuật DRIFT. Tổ lái con trỏ xuống đáy vùng new. 
    </p>
    <p class="content__desc mb-10 ti-30">
        Tốn 1 biến con trỏ. Kích thước là 8 byte <=> 10^18.
    </p>
    <p class="content__desc mb-10">
        Tại sao lại là 8 byte???
    </p>
    <p class="content__desc mb-10 ti-30">
        Vì máy mình là window 64 bit. Công nghệ là 64 bit. 64 bit tức là thanh RAM nó đánh địa chỉ.
    </p>
    <p class="content__desc mb-10 ti-30">
        Dùng 64 bit để lưu số địa chỉ trong RAM.
        Lưu địa chỉ, lưu tọa độ, tao cần 8 byte.
    </p>
    <p class="content__desc mb-10 ti-30">
        Nghĩa là số nhà được dùng 64 bit để đánh. Cho nên nó cần được lưu 64 bit. Thì nó mới có khả năng trỏ tới các địa chỉ
    </p>
    <blockquote class="blockquote blockquote--normal mb-10">
        <p class="content__desc mb-10">
            Ngoài lề:
        </p>
        <p class="content__desc">
            Cho nên khứa nào sử dụng window-32 bit mà dùng RAM 8gb là vô nghĩa. Vì tối đa là 4gb.
        </p>
    </blockquote>
    <pre class="language-javascript"><code class="language-javascript">Parent child = new Child("Villa", "1000 BTC");
Child tmp = (Child) child; // mày hãy xuống lấy cho tao tọa độ vùng new Child</code></pre>

    <p class="content__desc mt-10 mb-10">
        <b>Cách 2</b>: Ta sử dụng kỹ thuật DRIFT. Tổ lái con trỏ xuống đáy vùng new. (không tốn 1 con trỏ Child)
    </p>
    <pre class="language-javascript"><code class="language-javascript">(Child)c1. // không có ra sayHello()</code></pre>
    <p class="content__desc mt-10 mb-10 ti-30">
        Dấu chấm cực mạnh về độ ưu tiên.
    </p>
    <p class="content__desc mb-10 ti-30">
        Hàm ý: sử dụng vùng ram của biến con trỏ
    </p>
    <p class="content__desc mb-10 ti-30">
        Gắn với đúng data type của biến con trỏ. c1. là biến của cha nên sẽ chấm vào new Cha, vùng ram của cha
    </p>
    <p class="content__desc mb-10">
        Solution: ép kiểu xong đi đã rồi chấm
    </p>
    <pre class="language-javascript"><code class="language-javascript">Parent c1 = new Child("Villa", "1000 BTC");
((Child)c1).sayHello(); </code></pre>

<blockquote class="blockquote blockquote--normal">
    <p class="content__desc mb-10">
        Chốt hạ:
    </p>
    <p class="content__desc mb-10 ti-30">
        Để thấy được hàm dị biệt của con, phải DRIFT con trỏ, kéo dãn sợi dây thun, ép kiểu
    </p>
    <p class="content__desc ti-30">
        2 cách nhưng bản chất là 1. Kéo xuống đáy vùng new.
    </p>
</blockquote>

    <div class="separate"></div>
    <h3 class="content__heading-3 mt-20 mb-10">Kế thừa level 2: Abstract Class (Cha trừu tượng, con cụ thể)</h3>
    <p class="content__desc mb-10">
        Class là gom object
    </p>
    <p class="content__desc mb-10">
        Thì Abstract là dạng gom class, những class có điểm tương đồng
    </p>
    <p class="content__desc mb-10">
        <b>superclass (parent class)</b>
    </p>
    <pre class="language-javascript"><code class="language-javascript">public abstract class Shape {
    protected String owner;
    protected String color;
    protected String borderColor;

    // getter & setter & toString()...

    public abstract double getArea();

    public abstract double getPerimeter();

    public abstract void paint();
}</code></pre>

    <p class="content__desc mt-10 mb-10">
        <b>subclass (child class)</b>
    </p>

    <pre class="language-javascript"><code class="language-javascript">public class Rectangle extends Shape {
    protected double width, length;

    public Rectangle(double width, double length, String owner, String color, String borderColor) {
        super(owner, color, borderColor);
        this.width = width;
        this.length = length;
    }

    // getter & setter & toString()

    @Override
    public double getArea() {
        return width * length;
    }

    @Override
    public double getPerimeter() {
        return (width + length) * 2;
    }

    @Override
    public void paint() {
        System.out.printf("|RECTANGLE ....|");
    }
}</code></pre>

    <pre class="language-javascript"><code class="language-javascript">public class Disk extends Shape {
    private static final double PI = 3.14;

    private double radius;

    public Rectangle(double radius, String owner, String color, String borderColor) {
        super(owner, color, borderColor);
        this.radius = radius;
    }

    // getter & setter & toString()

    @Override
    public double getArea() {
        return Disk.PI * radius * radius;
    }

    @Override
    public double getPerimeter() {
        return 2 * Disk.PI * radius;
    }

    @Override
    public void paint() {
        System.out.printf("|Disk ....|");
    }
}</code></pre>

    <pre class="language-javascript"><code class="language-javascript">public class Triangle extends Shape {
    protected double a, b, c;

    public Triangle(String owner, String color, String borderColor, double a, double b, double c) {
        super(owner, color, borderColor);
        this.a = a;
        this.b = b;
        this.c = c;
    }

    // getter & setter & toString()

    @Override
    public double getArea() {
        double p = getPerimeter() / 2;
        return Math.sqrt(p * (p - a) * (p - b) * (p - c));
    }

    @Override
    public double getPerimeter() {
        return a + b + c;
    }

    @Override
    public void paint() {
        System.out.printf("|Triangle ....|");
    }
}</code></pre>

    <p class="content__desc mt-10 mb-10">
        <b>sub-subclass</b>
    </p>

    <pre class="language-javascript"><code class="language-javascript">public Square extends Rectangle {
    public Square(String owner, String color, String borderColor, double edge) {
        super(owner, color, borderColor, edge, edge);
    }

    @Override
    public void paint() {
        System.out.printf("|Square ....|");
    }
}</code></pre>

    <p class="content__desc mt-10 mb-10">
        <b>main</b>
    </p>

    <pre class="language-javascript"><code class="language-javascript">public static void main(String[] args) {
    sortShapes();
}

public static void sortShapes() {
    // Hình chữ nhật
    Rectangle r1 = new Rectangle("r1", "pink", "magenta", 5, 6); // Khai con new con
    Shape r2 = new Rectangle("r2", "magenta", "pink", 6, 5); // Khai cha new con

    // Hình vuông
    Square s1 = new Square("s1", "pink", "magenta", 7); // khai con new con
    Rectangle s2 = new Square("s2", "pink", "magenta", 8); // khai cha new con
    Shape s3 = new Square("s3", "pink", "magenta", 7); // khai ông nội new cháu

    // Hình tròn
    Disk d1 = new Disk("d1", "pink", "magenta", 6); // khai con new con
    Shape d2 = new Disk("d2", "pink", "magenta", 6); // khai cha new con

    // Hình tam giác
    Triangle t1 = new Triangle("t1", "pink", "magenta", 3, 4, 5); // khai con new con
    Shape t2 = new Triangle("t2", "pink", "magenta", 3, 4, 5); // khai cha new con

    Shape box[] = new Shape[] {r1, r2, s1, s2, s3, d1, d2, t1, t2};
    for (Shape x : box) {
        x.paint(); // => POLYMORPHISM
    }

}</code></pre>

    <p class="content__desc mt-10 mb-10">
        Cùng là hàm paint() nhưng có N cách chạy/implement khác nhau tùy ngữ cảnh. 
        <b>Con qua mặt cha - Cháu qua mặt cha và ông nội</b>
    </p>
    <p class="content__desc mb-10">
        Từ 1 hàm paint() ánh xạ N cách viết code/implement/thực thi lúc chạy.
        gọi là hiện tượng đa ánh xạ, đa hình dạng, đa nhân cách. 
    </p>
    <p class="content__desc mb-10">
        Tính đa hình của 1 cái tên hàm, giúp linh hoạt viết code, dễ mỡ rộng.
        Vuông theo vuông, Tròn theo Tròn, Chữ nhật theo chữ nhật
    </p>
    <p class="content__desc mb-10">
        Vẫn gọi chung 1 tên gọi paint() từ ông tổ. 
    </p>
    <p class="content__desc mb-10">
        Kỹ thuật đa hình dạng cài đặt và chạy kiểu này, kĩ thuật linh hoạt này được gọi
        là tính đa hình <b>POLYMORPHISM</b>
    </p>

    <p class="content__desc mb-10 color-red">
        CÂU HỎI PHỎNG VẤN
    </p>
    <blockquote class="blockquote blockquote--normal">
        <p class="content__desc mb-10">
            <b>Abstract class (lớp trừu tượng)</b> là một loại lớp trong lập trình hướng đối tượng
            được sử dụng để định nghĩa các hành vi chung cho các lớp con,
            nhưng không thể khởi tạo trực tiếp.
        </p>
        <p class="content__desc mb-10">
            Lớp này có thể chứa:
        </p>
        <p class="content__desc mb-10 ti-30">
            <b>Phương thức trừu tượng</b>: Phương thức không có phần triển khai (<b>chỉ có khai báo</b>), 
            buộc các lớp con phải tự định nghĩa lại.
        </p>
        <p class="content__desc mb-10 ti-30">
            <b>Phương thức thông thường</b>: Phương thức có phần triển khai sẵn, các lớp con có thể 
            sử dụng hoặc ghi đè (override) nếu cần.
        </p>
        <p class="content__desc">
            Mục đích của abstract class là tạo ra một khung sườn cho các lớp con, 
            giúp chúng chia sẻ mã chung và đảm bảo các lớp con triển khai đầy đủ các hành vi cần thiết.
        </p>
    </blockquote>
</div>