<div class="content-wrap">
    <h2 class="content__heading-2 mb-10">Wrapper Class</h2>
    <p class="content__desc mb-10">
        Tất cả 8 Wrapper Class đều là read-only, <b>IMMUTABLE CLASS</b>
    </p>
    <p class="content__desc mb-10">
        <b>Immutable</b> là bất biến. Nghĩa là một khi một giá trị được tạo,
        giá trị đó không thể thay đổi.
    </p>
    <p class="content__desc mb-10 ti-30">Byte: byte</p>
    <p class="content__desc mb-10 ti-30">Short: short</p>
    <p class="content__desc mb-10 ti-30">Integer: int</p>
    <p class="content__desc mb-10 ti-30">Long: long</p>
    <p class="content__desc mb-10 ti-30">Float: float</p>
    <p class="content__desc mb-10 ti-30">Double</p>
    <p class="content__desc mb-10 ti-30">Boolean: boolean</p>
    <p class="content__desc mb-10 ti-30">Character: char</p>
</div>