<div class="content-wrap">
    <h2 class="content__heading-2 mb-10">OOP CONCEPTS / OOP PRINCIPLES / FUNDAMENTAL CONCEPS OF OOP / FOUR PILLARS OF OOP</h2>
    <blockquote class="blockquote blockquote--normal">
        <p class="content__desc mb-10">
            1. <b>ABSTRACTION</b> - Trừu tượng hóa
        </p>
        <p class="content__desc mb-10 ti-30" style="padding-left: 29px; text-indent: 0px;">
            Là tư duy, cách suy nghĩ, chuyển đổi những thứ phức tạp
            trong cuộc sống thành những thứ đơn giản hơn
            nhưng vẫn diển tả đúng ý nghĩa của sự vật ban đầu
        </p>
        <p class="content__desc mb-10 ti-30" style="padding-left: 29px; text-indent: 0px;">
            Tư duy nắm bắt thông tin cốt lõi quan trọng của object
            ngoài đời, dùng để biểu diễn lại object đó
        </p>
        <p class="content__desc mb-10 ti-30" style="padding-left: 29px; text-indent: 0px;">
            Trừu tượng hóa tức là kể lại câu chuyện mô tả trong
            trí não kể lại cho ai đó nghe và người ta hiểu được
        </p>
        <p class="content__desc mb-10 ti-30" style="padding-left: 29px; text-indent: 0px;">
            Cách lấy ra những thông tin quan trọng nhất, tiêu biểu
            nhất của 1 object phức tạp ngoài đời để biểu diễn lại cho ai 
            cũng hiểu được thứ phức tạp
        </p>
        <p class="content__desc mb-10">
            2. <b>ENCAPSULATION</b> - Đóng gói
        </p>
        <p class="content__desc mb-10 ti-30" style="padding-left: 29px; text-indent: 0px;">
            Nhận diện 1 đối tượng gồm đặc tính và hành vi, gom chung trong 1 đơn vị object/class
        </p>
        <p class="content__desc mb-10 ti-30" style="padding-left: 29px; text-indent: 0px;">
            Gom info và xử lí vào trong 1 đơn vị, che giấu show ra khi cần thiết
        </p>
        <p class="content__desc mb-10 ti-30" style="padding-left: 29px; text-indent: 0px;">
            Gom xong giấu đi bằng thuật ngữ private, hiển thị ra nếu muốn theo cách public/protected
        </p>

        <p class="content__desc mb-10">
            3. <b>INHERITANCE</b> - Kế thừa
        </p>
        <p class="content__desc mb-10 ti-30" style="padding-left: 29px; text-indent: 0px;">
            Reuse lại code không cần phải làm lại code.
            Tăng tốc quá trình viết code khi có đoạn code, object đã làm tốt việc của nó rồi
        </p>
        <p class="content__desc mb-10 ti-30" style="padding-left: 29px; text-indent: 0px;">
            Tận dụng mở rộng thêm khả năng của object mới, dùng lại object cũ + dị biệt
            ta làm thêm
        </p>
        <p class="content__desc mb-10">
            4. <b>POLYMORPHISM</b> - Đa hình
        </p>
        
        <p class="content__desc mb-10 ti-30" style="padding-left: 29px; text-indent: 0px;">
            Là khái niệm cho phép một hành động có thể thực hiện theo 
            nhiều cách khác nhau, tùy thuộc vào đối tượng cụ thể đang sử dụng hành động đó.
        </p>
        <p class="content__desc mb-10 ti-30" style="padding-left: 29px; text-indent: 0px;">
            Có hai loại chính của polymorphism:
        </p>
        <p class="content__desc mb-10 ti-30" style="padding-left: 29px; text-indent: 0px;">
            <b>Method overloading</b> (đa hình tại thời điểm biên dịch): 
            Cùng một tên phương thức, nhưng có thể thực hiện khác nhau nếu chúng có tham số khác nhau. 
            Điều này xảy ra khi chương trình đang được biên dịch.
        </p>
        <p class="content__desc mb-10 ti-30" style="padding-left: 29px; text-indent: 0px;">
            <b>Method overriding</b> (đa hình tại thời điểm chạy): 
            Một lớp con có thể "ghi đè" phương thức của lớp cha để thực hiện nó theo cách riêng của lớp con. 
            Cách hành động cụ thể được xác định khi chương trình đang chạy.
        </p>
    </blockquote>
</div>