<div class="content-wrap">
    <h2 class="content__heading-2 mb-20">Object & Class</h2>
    <h3 class="content__heading-3 mb-10">Object là gì?</h3>
    <p class="content__desc mb-10">
        Object là: gom n value phức tạp
    </p>
    <p class="content__desc mb-10">
        Là 1 vật thể, thứ gì đó, thing mà có những đặc điểm, hành vi
        là những thứ ta có thể đếm, sờ, mô tả, phân biệt được
    </p>

    <h3 class="content__heading-3 mb-10">Class là gì?</h3>
    <p class="content__desc mb-10">
        Sự phân nhóm, tên gọi cho 1 nhóm các đối tượng. Theo 1 tiêu chí nào đó
    </p>
    <p class="content__desc mb-10">
        Tiêu chí: hát -> Nhóm <b>CaSi</b>
    </p>
    <p class="content__desc mb-10">
        Tiêu chí: đóng phim -> Nhóm <b>DienVien</b>
    </p>
</div>