<div class="content-wrap">
    <h2 class="content__heading-2 mb-20">Lambda</h2>
    <pre class="language-javascript"><code class="language-javascript">Map&lt;String, Staff&gt; map = new HashMap&lt;String, Staff&gt;();
map.put("staff1", new Staff("Tommy", 100));
map.put("staff2", new Staff("Grace", 80));</code></pre>
    <p class="content__desc mt-10 mb-10">
        <mark>Traditional</mark>
    </p>
    <pre class="language-javascript"><code class="language-javascript">for(Entry&lt;String, Staff&gt; entry: map.entrySet()) {
    String k = entry.getKey();
    Staff v = entry.getValue();
}</code></pre>

    <p class="content__desc mt-10 mb-10">
        <mark>Lambda</mark>
    </p>
    <pre class="language-javascript"><code class="language-javascript">map.forEach((key, value) -> {
        System.out.println("Key: " + key + ", Obj: " + value);
});</code></pre>

    <div class="separate"></div>
    <pre class="language-javascript"><code class="language-javascript">List&lt;Staff&gt; staffs = new ArrayList&lt;&gt;();
staffs.add(new Staff("Tommy", 100));
staffs.add(new Staff("Grace", 80));
staffs.add(new Staff("Arthur", 70));</code></pre>
    <p class="content__desc mt-10 mb-10">
        <mark>Traditional</mark>
    </p>
    <pre class="language-javascript"><code class="language-javascript">list.sort(new Comparator&lt;Staff&gt;() {
    @Override
    public int compare(Staff o1, Staff o2) {
        return o1.getName().compareTo(o2.getName());
    }
});</code></pre>

    <p class="content__desc mt-10 mb-10">
        <mark>Lambda</mark>
    </p>
    <pre class="language-javascript"><code class="language-javascript">// Sort name
staffs.sort((o1, o2) -> o1.getName().compareTo(o2.getName()));

// Sort salary descending (giảm dần)
Collections.sort(staffs, (o1, o2) -> -o1.getSalary().compareTo(o2.getSalary()));

staffs.stream()
      .sorted(Comparator.comparing(Staff::getSalary).reversed()) // Sắp xếp lương giảm dần

// Sort salary ascending (tăng dần)
Collections.sort(staffs, (o1, o2) -> o1.getSalary().compareTo(o2.getSalary()));</code></pre>

    <div class="separate"></div>
    <h2 class="content__heading-2 mb-10">Functional Interface</h2>
    <p class="content__desc mb-10 mb-10">
        <b>A Functional Interface</b> in Java 
        is an interface that has exactly <b>one abstract method</b>. 
        It <b>can have other non-abstract methods</b>, such as <b>default</b> 
        or <b>static methods</b>, but only one method can remain abstract.
    </p>
    <pre class="language-javascript"><code class="language-javascript">@FunctionalInterface
interface LearnEnglish {
    void speakEnglish(String content);
    default void write() {...};
    public static void read() {...};
}</code></pre>

    <p class="content__desc mt-10 mb-10">
        <mark>Traditional</mark>
    </p>
    <pre class="language-javascript"><code class="language-javascript">LearnEnglish learn = new LearnEnglish() {
    @Override
    public void speakEnglish(String content) {
        System.out.println(content);
    }
    learn.speakEnglish("I don't know what 7 you say");
}</code></pre>

    <p class="content__desc mt-10 mb-10">
        <mark>Lambda</mark>
    </p>
    <pre class="language-javascript"><code class="language-javascript">LearnEnglish learn = content -> System.out.println(content);
learn.speakEnglish("I don't know what 7 you say");</code></pre>
</div>