<div class="content-wrap">
    <h2 class="content__heading-2 mb-20">Install SQL Server 2019</h2>
    <p class="content__desc mb-10">
        <mark><b>Step 1:</b></mark>
    </p>
    <p class="content__desc mb-10 ti-30">
        Link download: <a href="https://www.microsoft.com/en-us/sql-server/sql-server-downloads" target="_blank" rel="noopener">click me</a>
    </p>
    <p class="content__desc mb-10 ti-30">
        Download version Express (SQL2019-SSEI-Expr.exe)
    </p>

    <p class="content__desc mb-10">
        <mark><b>Step 2:</b></mark>
    </p>

    <p class="content__desc mb-10 ti-30">
        run => select an installation type: Download Media
    </p>
    <p class="content__desc mb-10 ti-30">
        Which package would you like to download? => Express Advanced
    </p>
    <p class="content__desc mb-10 ti-30">
        When download successful! => clone (SQLEXPRADV_x64_ENU.exe - server)
    </p>

    <p class="content__desc mb-10">
        <mark><b>Step 3:</b></mark>
    </p>

    <p class="content__desc mb-10 ti-30">
        Vào trang chủ Microsoft tìm đến mục tool - Download SQL Server Management Studio (SSMS) => Click vào
    </p>
    <p class="content__desc mb-10 ti-30">
        Tìm tiêu đề Download SSMS - Download SQL Server Management Studio (SSMS) 20.2
    </p>
    <p class="content__desc mb-10 ti-30">
        SSMS-Setup-ENU.exe (client)
    </p>

    <p class="content__desc mb-10">
        <mark><b>Step 4:</b></mark> 
    </p>
    <p class="content__desc mb-10 ti-30">
        Tiến hành cài file SQLEXPRADV_x64_ENU.exe - server
    </p>
    <p class="content__desc mb-10 ti-30">
        Choose Directory For Extracted Files => Click oki
    </p>
    <p class="content__desc mb-10 ti-30">
        Hộp thoại: SQL Server Installation Center
    </p>
    <p class="content__desc mb-10 ti-30">
        Nếu cài mới hoàn toàn thì chọn: New SQL Server start alone installation or add
        features to an existing installation
    </p>
    <p class="content__desc mb-10 ti-30">
        Nếu update thì chọn Upgrade from a previous version of SQL Server
    </p>
    <p class="content__desc mb-10">
        <mark><b>Step 5:</b></mark>
    </p>
    <p class="content__desc mb-10 ti-30">
        Hộp thoại SQL Server 2019 setup: Uncheck Machine Learning Services and Language => Next, next...done and close
    </p>
    <p class="content__desc mb-10">
        <mark><b>Step 6:</b></mark> 
    </p>
    <p class="content__desc mb-10 ti-30">
        Tiến hành install file đã download ở step 3 (SSMS-Setup-ENU.exe (client)).
        Đây là client tool sẽ giao tiếp với server
    </p>
</div>