.blockquote {
    margin-left: 0;
    padding: 16px;
    background: rgba(232, 230, 230, 0.9);

    &--normal {
        border-left: 2px solid #0a72e3;
    }

    &--warning {
        border-left: 2px solid #ff0000;
    }
}