.content {
    display: none;

    &-wrap {
        width: 100%;
    }

    &__desc {
        font-size: 1.6rem;
        line-height: 1.6;
    }

    &__heading {
        line-height: 1.8;
        
        &-2 {
            font-size: 2.5rem;
            font-weight: 700;
            color: #0a72e3;
        }

        &-3 {
            display: flex;
            align-items: center;
            font-size: 2rem;
            font-weight: 600;
            color: #0a72e3;
            gap: 5px;
        }

        &-4 {
            display: flex;
            align-items: center;
            font-size: 1.8rem;
            font-weight: 500;
            color: #a43434;
            gap: 5px;
        }
    }

    &--active {
        display: flex;
    }
}

.main {
    flex: 1 0 auto;
}