@use "../abstracts";
%lineClampHasOptions {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    @supports (-webkit-line-clamp: 1) or
    (line-clamp: 1) {
        -webkit-line-clamp: 1
    }
}

.sidebar {
    z-index: 1;
    width: 120px;
    min-height: 100vh;
    background: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 0.25s;
    flex-shrink: 0;

    @include abstracts.screen(md) {
        width: 100%;
        min-height: initial;
        max-height: 150px;
        overflow-y: auto;
        scroll-behavior: smooth;
    }

    &__icon {
        width: 15px;
        height: 15px;
        filter: brightness(0) saturate(100%) invert(44%) sepia(96%) saturate(1847%) hue-rotate(324deg) brightness(89%) contrast(109%);
    }

    &-tab {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        user-select: none;

        @include abstracts.screen(md) {
            flex-direction: row;
            width: 100%;
            margin-bottom: 0;
            flex-wrap: wrap;
        }

        &__item {
            padding: 12px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: 0.2s;

            @include abstracts.screen(md) {
                min-width: 295px;
                padding: 16px;
            }

            &--active {
                --gradient-to: #eb4853;
                --gradient-from: #d91b6e;
                color: #fff;
                background-image: linear-gradient(180deg, var(--gradient-to), var(--gradient-from));
            }

            &:not(&--active):hover {
                cursor: pointer;
                background: #eceaea;
                opacity: 0.9;
            }

            .toggle-btn {
                display: block;
                width: 100%;
                height: 100%;
                
            }
        }
    }

    &__logo {
        text-align: center;
    }
    &.collapsed {
        width: 250px;

        @include abstracts.screen(md) {
            width: 100%;
        }
    }


    &.collapsed .sidebar__icon {
        width: 20px;
        height: 20px;
    }
}

.toggle-btn {
    position: relative;
    width: 100%;
    height: 46px;
    user-select: none;

    @include abstracts.screen(md) {
        display: none;
    }
}