<div class="content-wrap">
    <h2 class="content__heading-2 mb-10">JavaScrip là gì?</h2>
    <p class="content__desc mb-10">JavaScript là ngôn ngữ lập trình <b>thông dịch</b></p>
    <p class="content__desc">
        Điều này có nghĩa là mã JavaScript được thực thi dòng này qua dòng khác 
        bởi trình thông dịch JavaScript, thường là trình duyệt web, mà không cần qua quá trình 
        biên dịch thành mã máy trước khi thực thi.
    </p>
    <div class="compiler mt-20">
        <h3 class="content__heading-3 mb-10">Java ngôn ngữ <b>biên dịch</b></h3>
        <div class="compiler__wrap">
            <span class="compiler__wrap-text">Source</span>
            <img class="compiler__wrap-icon" src="./assets/img/icons/arrow-right.svg" alt="">
            <span class="compiler__wrap-text">Compiler</span>
            <img class="compiler__wrap-icon" src="./assets/img/icons/arrow-right.svg" alt="">
            <span class="compiler__wrap-text">Machine Code</span>
            <img class="compiler__wrap-icon" src="./assets/img/icons/arrow-right.svg" alt="">
            <span class="compiler__wrap-text">Output</span>
        </div>
    </div>

    <div class="compiler mt-20">
        <h3 class="content__heading-3 mb-10">JavaScript ngôn ngữ <b>thông dịch</b></h3>
        <div class="compiler__wrap">
            <span class="compiler__wrap-text">Source Code</span>
            <img class="compiler__wrap-icon" src="./assets/img/icons/arrow-right.svg" alt="">
            <span class="compiler__wrap-text">Interpreter</span>
            <img class="compiler__wrap-icon" src="./assets/img/icons/arrow-right.svg" alt="">
            <span class="compiler__wrap-text">Output</span>
        </div>
    </div>

    <div class="compiler mt-10 mb-20">
        <blockquote class="blockquote blockquote--normal">
            <p class="compiler__desc">
                Hãy tưởng tượng bạn đang xây một ngôi nhà. Cấu trúc và kiểu dáng của ngôi nhà 
                được tạo nên từ các viên gạch và xi măng - giống như HTML và CSS trên một trang web. 
                Nhưng để ngôi nhà thực sự sử dụng tốt, bạn cần thêm hệ thống điện, nước, và thiết bị thông minh khác, 
                và JavaScript giống như hệ thống đó - nó mang lại sự tương tác và trải nghiệm tốt cho người sử dụng trang web của bạn.
            </p>
        </blockquote>
    </div>
</div>