<div class="content-wrap">
    <h2 class="content__heading">Số nguyên và số thực</h2>
    <h3 class="content__heading-3">Số nguyên (Integer)</h3>
    <p class="content__desc">Số nguyên là số không có phần thập phân</p>
    <p class="content__desc">Gồm dương, âm và 0</p>

    <h3 class="content__heading-3">Số thực (Float)</h3>
    <p>Gồm tất cả các số nguyên và các số có phần thập phân.</p>

    <h3 class="content__heading-3">Toán tử số học</h3>
    <table>
        <thead>
            <tr>
                <th>Toán tử</th>
                <th>Ý nghĩa</th>
            </tr>
        </thead>
        <tbody>
            <!-- Phép cộng -->
            <tr>
                <td>
                    <code>+</code>
                </td>
                <td>Phép cộng</td>
            </tr>
            <!-- Phép trừ -->
            <tr>
                <td>
                    <code>-</code>
                </td>
                <td>Phép trừ</td>
            </tr>
            <!-- Phép nhân -->
            <tr>
                <td>
                    <code>*</code>
                </td>
                <td>Phép nhân</td>
            </tr>
            <!-- Phép chia -->
            <tr>
                <td>
                    <code>/</code>
                </td>
                <td>Phép chia</td>
            </tr>
            <!-- Phép chia lấy dư -->
            <tr>
                <td>
                    <code>%</code>
                </td>
                <td>Phép chia lấy dư</td>
            </tr>
            <!-- Tăng giá trị biến lên 1 -->
            <tr>
                <td>
                    <code>++</code>
                </td>
                <td>Tăng giá trị biến lên 1</td>
            </tr>
            <!-- Giảm giá trị biến đi 1 -->
            <tr>
                <td>
                    <code>--</code>
                </td>
                <td>Giảm giá trị biến đi 1</td>
            </tr>
            <!-- Phép lũy thừa -->
            <tr>
                <td>
                    <code>**</code>
                </td>
                <td>Phép lũy thừa</td>
            </tr>
        </tbody>
    </table>

    <h3 class="content__heading-3">Toán tử gán</h3>
    <p class="content__desc">= gán giá trị cho biến</p>

    <h3 class="content__heading-3">Toán tử gán kết hợp</h3>
    <p class="content__desc">+=m -=, *=, /=, %=, **= kết hợp phép toán với phép gán.</p>
    <p class="content__desc">a += 8 <=> a = a + 8</p>

    <blockquote class="blockquote blockquote--warning mb-10 mt-10">
        <p>Chia cho 0: kết quả là <b>Infinity</b> hoặc <b>-Infinity.</b></p>
    </blockquote>

    <h3 class="content__heading-3">Hàm là gì?</h3>
    <p class="content__desc">Là một khối code. Thực hiện 1 tác vụ cụ thể</p>
    <p class="content__desc">Tái sử dụng. Định nghĩa 1 lần và gọi khi cần.</p>
</div>