<div class="content-wrap">
    <h2 class="content__heading-2 mb-10">Collections</h2>
    <p class="content__desc mb-10">
        <b>Collection:</b> 
    </p>
    <p class="content__desc mb-10 ti-30">
        là một đối tượng cấu trúc dữ liệu
        có thể dùng để lưu trữ thông tin
    </p>
    <p class="content__desc mb-10 ti-30">
        Nhiều ưu điểm hơn so với array truyền thống
    </p>
    <p class="content__desc mb-10">
        <b>Nhược điểm</b> của <b class="color-red">array truyền thống</b>:
    </p>
    <p class="content__desc mb-10 ti-30">
        Kích thước cố định
    </p>
    <p class="content__desc mb-10 ti-30">
        Các phần tử phải có cùng kiểu
    </p>
    <p class="content__desc mb-10 ti-30">
        Các phần tử nằm liền kề nhau trong bộ nhớ
    </p>
    <p class="content__desc mb-10">
        <b>Ưu điểm</b> của <b class="color-red">Collections Framework</b>:
    </p>
    <p class="content__desc mb-10 ti-30">
        Kích thước không cố định
    </p>
    <p class="content__desc mb-10 ti-30">
        Lưu trữ dữ liệu thuộc các kiểu khác nhau
    </p>
    <p class="content__desc mb-10 ti-30">
        Hỗ trợ nhiều thuật toán có sẵn:
        sắp xếp, tìm kiếm, xóa phần tử, copying...
    </p>
    <p class="content__desc mb-10 ti-30">
        Có nhiều lớp hỗ trợ khác
    </p>
    <blockquote class="blockquote blockquote--normal">
        <p class="content__desc">
            Tất cả mọi thành phần Collections chúng ta sử dụng
            đều nằm trong package <b>java.util.*</b>
        </p>
    </blockquote>
</div>