<div class="content-wrap">
    <h2 class="content__heading-2 mb-20">HTTP</h2>
    <p class="content__desc mb-10">   
        <mark>HTTP: HyperText Transfer Protocol</mark>
    </p>
    <p class="content__desc mb-10">
        Là một giao thức <b>truyền tải dữ liệu</b> được sử dụng 
        để <b>trao đổi thông tin</b> giữa <b>client</b> (ví dụ: trình duyệt web) và <b>server</b> (máy chủ web).
    </p>
    <p class="content__desc mb-10">
        Cho phép trình duyệt web yêu cầu và nhận các tài nguyên như trang web, hình ảnh, video từ máy chủ.
    </p>
    <p class="content__desc mb-10">
        <mark>Các khái niệm chính của HTTP:</mark>
    </p>
    <p class="content__desc mb-10">
        1. Client và Server:
    </p>
    <p class="content__desc mb-10 ti-30">
        <b>Client</b>: Là thiết bị hoặc phần mềm gửi yêu cầu, ví dụ: trình duyệt web.
    </p>
    <p class="content__desc mb-10 ti-30">
        <b>Server</b>: Là máy chủ nhận và xử lý các yêu cầu từ client, sau đó trả về tài nguyên hoặc dữ liệu.
    </p>
    <p class="content__desc mb-10">
        2. Request và Response:
    </p>
    <p class="content__desc mb-10 ti-30">
        <b>Request</b>: Client gửi yêu cầu đến server (ví dụ: yêu cầu tải một trang web).
    </p>
    <p class="content__desc ti-30">
        <b>Response</b>: Server trả về phản hồi (thường là nội dung của trang web hoặc dữ liệu cần thiết).
    </p>

    <h2 class="content__heading-2 mt-20 mb-10">HTTPS</h2>
    <p class="content__desc mb-10">   
        <mark>HTTPS: HyperText Transfer Protocol Secure</mark>
    </p>
    <p class="content__desc mb-10">
        Là <b>phiên bản bảo mật</b> của HTTP
    </p>
    <p class="content__desc mb-10">
        Sử dụng mã hóa (<b>SSL/TLS</b>) để <b>bảo vệ dữ liệu</b> khi truyền qua internet, 
        <b>ngăn chặn</b> các bên thứ ba <b>xem</b> hoặc <b>can thiệp</b> vào <b>dữ liệu</b>.
    </p>
</div>