<div class="content-wrap">
    <h2 class="content__heading-2 mb-10">Spring và OAuth</h2>
    <p class="content__desc mb-10">
        <mark>Lịch sử ra đời và sử dụng với Spring</mark>
    </p>
    <p class="content__desc mb-10">
        Trước 2022: Spring Security OAuth
    </p>
    <a 
        href="https://spring.io/blog/2022/06/01/spring-security-oauth-reaches-end-of-life" 
        target="_blank" 
        rel="noopener" 
        style="color: blue; text-decoration: underline;">
        https://spring.io/blog/2022/06/01/spring-security-oauth-reaches-end-of-life
    </a>
    <p class="content__desc mt-20 mb-10">
        Sau 2022: có 2 dự án (projects) nổi bật hỗ trợ OAuth là
    </p>
    <p class="content__desc mb-10">
        <mark>
            <b>Spring Security (hỗ trợ OAuth 2.0)</b>
        </mark>
    </p>
    <a 
        href="https://docs.spring.io/spring-security/reference/6.1/servlet/oauth2/index.html"
        target="_blank"
        rel="noopener" 
        style="color: blue; text-decoration: underline;">
        https://docs.spring.io/spring-security/reference/6.1/servlet/oauth2/index.html
    </a>
    
    <p class="content__desc mt-20 mb-10">
        <mark>
            <b>Spring Authorization Server (hỗ trợ OAuth 2.1)</b>
        </mark>
    </p>
    <a 
        href="https://spring.io/projects/spring-authorization-server"
        target="_blank"
        rel="noopener" 
        style="color: blue; text-decoration: underline;">
        https://spring.io/projects/spring-authorization-server
    </a>
</div>