<div class="content-wrap">
    <h2 class="content__heading-2 mb-20">JSON</h2>
    <p class="content__desc mb-10">
        Json: viết tắt của <b>JavaScript Object Notation</b>
    </p>
    <p class="content__desc mb-10">
        JSON không thuộc riêng về JavaScript. 
        Thực tế, JSON là một định dạng dữ liệu độc lập với ngôn ngữ.
    </p>
    <p class="content__desc mb-10">
        JSON là một định dạng văn bản thường được dùng để truyền dữ liệu giữa các hệ thống, 
        đặc biệt là khi giao tiếp giữa client (ví dụ: ứng dụng di động, trình duyệt) và server thông qua API
    </p>
    <p class="content__desc mb-10">
        <mark>Ví dụ này là 1 chuỗi JSON</mark>
    </p>
    <pre class="language-javascript"><code class="language-javascript">'{"name":"John", "age":30, "car":null}'</code></pre>
    <p class="content__desc mt-10 mb-10">
        <b>JSON</b> -> <b>Object</b>
    </p>
    <pre class="language-javascript"><code class="language-javascript">JSON.parse()

const obj = JSON.parse('{"name":"John", "age":30, "city":"New York"}');</code></pre>
    <p class="content__desc mt-10 mb-10">
        <b>Object</b> -> <b>JSON</b>
    </p>
    <pre class="language-javascript"><code class="language-javascript">JSON.stringify()

const obj = {name: "John", age: 30, city: "New York"};
const myJSON = JSON.stringify(obj);</code></pre>

    <p class="content__desc mt-10 mb-10">
        <mark>
            Nested JSON object là một đối tượng JSON 
            chứa các đối tượng JSON khác hoặc mảng JSON bên trong nó.
        </mark>
    </p>

    <pre class="language-javascript"><code class="language-javascript">{
    "name": "Lai Binh An",
    "age": 18,
    "skills": ["Java", "JavaScript", "SQL"],
    "job": {
        "title": "Software Engineer",
        "experience": {
            "years": 1,
            "projects": ["Project A", "Project B"]
        }
    }
}</code></pre>
</div>