<div class="content-wrap">
    <h2 class="content__heading-2 mb-20">Tại sao cần Response Entity</h2>
    <p class="content__desc mb-10">
        Mô hình đang thực hiện: <b>client - server</b>
    </p>
    <blockquote class="blockquote blockquote--normal mb-10">
        <p class="content__desc mb-10">
            <b>Client</b> (browser/postman) gửi <b>request</b> (yêu cầu)
            tới <b>server</b> (java) thông qua <b>RESTFul APIs</b>
        </p>
        <p class="content__desc">
            <b>Server</b> (java) gửi <b>response</b> (phản hồi)
            về cho <b>client</b> (browser/postman)
        </p>
    </blockquote>

    <p class="content__desc mb-10">Hiện tại, phản hồi (response) đang ở dạng text, hoặc JSON object</p>
    <p class="content__desc mb-10">
        Để các hệ thống nói chuyện với nhau 1 cách đầy đủ nhất,
        1 lời phản hồi (response) sẽ gồm:
    </p>
    <p class="content__desc mb-10 ti-30">
        <b>Thông tin header</b>: (ví dụ bạn muốn dùng cookies chẳng hạn)
    </p>
    <p class="content__desc mb-10 ti-30">
        <b>Thông tin status</b> (http status): mã phản hồi
    </p>
    <p class="content__desc ti-30">
        <b>Thông tin body (nếu có)</b>: data phản hồi, thông thường dưới dạng JSON
    </p>

    <h3 class="content__heading-3 mt-20 mb-10">Minh họa 1 vài cách dùng thông dụng:</h3>
    <p class="content__desc mb-10">
        Trả về mình <b>status</b>
    </p>
    <pre class="language-javascript"><code class="language-javascript">ResponseEntity.status(HttpStatus.Ok).body(null);</code></pre>
    <p class="content__desc mt-10 mb-10">
        Trả về <b>status</b> và <b>headers</b>
    </p>
    <pre class="language-javascript"><code class="language-javascript">ResponseEntity.status(HttpStatus.Ok).headers(Instance_of_HttpHeaders).build();</code></pre>
    <p class="content__desc mt-10 mb-10">
        Trả về <b>status</b>, <b>headers</b> và <b>body</b>
    </p>
    <pre class="language-javascript"><code class="language-javascript">ResponseEntity.status(HttpStatus.Ok).headers(Instance_of_HttpHeaders).body(Instance_of_object_send_back_to_client);</code></pre>

    <div class="separate"></div>
    <h2 class="content__heading-2 mb-20">Http Status Code hay dùng</h2>
    <span>Tài liệu:</span>
    <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status" style="color: blue; text-decoration: underline; line-height: 1.5">
        https://developer.mozilla.org/en-US/docs/Web/HTTP/Status
    </a>
    <p class="content__desc mt-20 mb-10">
        <mark>Mã lỗi ám chỉ request thành công:</mark>
    </p>
    <p class="content__desc mb-10">
        <b>200</b> - request succeeded (hay dùng cho method GET/PUT/DELETE)
    </p>
    <p class="content__desc mb-10">
        <b>201</b> - request created a resource (hay dùng cho method POST)
    </p>
    <p class="content__desc mb-10">
        <b>204</b> - no content to return (dùng khi bạn muốn thông báo không có data ở phản hồi)
    </p>
    <p class="content__desc mb-10">
        <b>202</b> - Accepted (the request has been accepted for processing, but the processing has
        not been completed): dùng khi bạn chạy job/background task và muốn gửi phản hồi cho client
    </p>
    <p class="content__desc mt-20 mb-10">
        <mark>Mã lỗi ám chỉ request thất bại (lỗi do client):</mark>
    </p>
    <p class="content__desc mb-10">
        <b>400</b> - Bad request (lỗi exception, validate...)
    </p>
    <p class="content__desc mb-10">
        <b>401</b> - Unauthorized (unauthenticated): bạn chưa đăng nhập, có nghĩa rằng bạn cần login
        thành công thì mới có quyền sử dụng endpoint (API)
    </p>
    <p class="content__desc mb-10">
        <b>403</b> - Forbidden (unauthorized): bạn đã đăng nhập thành công, tuy nhiên, bạn không có
        quyền hạn (authorization) để thực hiện tác vụ này
    </p>
    <p class="content__desc mb-10">
        <b>404</b> - Resource not found : đường dẫn URL không đúng hoặc tệp tài nguyên đã bị xóa hoặc không còn tồn tại.
    </p>
    <p class="content__desc mb-10">
        <b>405</b> - Method not supported : check cho đúng method khi sử dụng với endpoint
    </p>
    <p class="content__desc mb-10">
        <b>415</b> - Media not supported: bạn cần truyền đúng định dạng format mà server/client
        mong muốn. Ví dụ, bạn không thể dùng JSON để gửi file lên
        server (cần dùng formData)
    </p>
    <p class="content__desc mt-20 mb-10">
        <mark>Mã lỗi ám chỉ request thất bại (lỗi do server):</mark>
    </p>
    <p class="content__desc mb-10">
        <b>500</b> - Internal Server error: lỗi xảy ra bên trong Server, cần đọc logs để biết lỗi gì
        (exception, bugs...)
    </p>
    <p class="content__desc mb-10">
        <b>503</b> - Service Unavailable : server ngỏm (không chạy) nên không có sẵn để sử dụng
    </p>
    <p class="content__desc mb-10">
        <b>504</b> - Gateway Timeout : server (có thể) không ngỏm, cơ mà không phản hồi trong thời
        gian quy định (quá lâu để phản hồi)
    </p>
</div>