<div class="content-wrap">
    <h2 class="content__heading-2 mb-20">Bean Life Cycle</h2>
    <h3 class="content__heading-3 mb-10">@PostConstruct</h3>
    <p class="content__desc mb-10">
        <b>@PostConstruct</b> được đánh dấu trên một method duy nhất bên trong <b>Bean</b>. 
        <b>IoC Container</b> hoặc <b>ApplicationContext</b> sẽ gọi hàm này 
        <b class="color-red">sau khi</b> một <b>Bean</b> được tạo ra và quản lý.
    </p>
    <pre class="language-javascript"><code class="language-javascript">@Component
public class Girl {
    @PostConstruct
    public void postConstruct(){
        System.out.println("\t>> Đối tượng Girl sau khi khởi tạo xong sẽ chạy hàm này");
    }
}</code></pre>

    <h3 class="content__heading-3 mt-20 mb-10">@PreDestroy</h3>
    <p class="content__desc mb-10">
        <b>@PreDestroy</b> được đánh dấu trên một method duy nhất bên trong <b>Bean</b>. 
        <b>IoC Container</b> hoặc <b>ApplicationContext</b> sẽ gọi hàm này 
        <b class="color-red">trước khi</b> một <b>Bean</b> bị xóa hoặc không được quản lý nữa.
    </p>
    <pre class="language-javascript"><code class="language-javascript">@Component
public class Girl {
    @PreDestroy
    public void preDestroy(){
        System.out.println("\t>> Đối tượng Girl trước khi bị destroy thì chạy hàm này");
    }
}</code></pre>

    <h3 class="content__heading-3 mt-20 mb-10">Bean Life Cycle</h3>
    <p class="content__desc mb-10">
        Spring Boot từ thời điểm chạy lần đầu tới khi shutdown thì các Bean 
        nó quản lý sẽ có một vòng đời được biểu diễn như dưới đây:
    </p>
    <p class="content__desc mb-10 ti-30">
        1. Khi IoC Container (ApplicationContext) tìm thấy một Bean 
        cần quản lý, nó sẽ khởi tạo bằng Constructor
    </p>
    <p class="content__desc mb-10 ti-30">
        2. inject dependencies vào Bean bằng Setter, và thực hiện các quá trình 
        cài đặt khác vào Bean như setBeanName, setBeanClassLoader, v.v..
    </p>
    <p class="content__desc mb-10 ti-30">
        3. Hàm đánh dấu @PostConstruct được gọi
    </p>
    <p class="content__desc mb-10 ti-30">
        4. Tiền xử lý sau khi @PostConstruct được gọi.
    </p>
    <p class="content__desc mb-10 ti-30">
        5. Bean sẵn sàng để hoạt động
    </p>
    <p class="content__desc mb-10 ti-30">
        6. Nếu IoC Container không quản lý bean nữa hoặc bị shutdown nó sẽ gọi hàm @PreDestroy trong Bean
    </p>
    <p class="content__desc mb-10 ti-30">
        7. Xóa Bean.
    </p>

    <p class="content__desc mb-10">
        <mark>Ví dụ:</mark>
    </p>
    <p class="content__desc mb-10">
        Chúng ta tạo ra class Girl bao gồm:
    </p>
    <pre class="language-javascript"><code class="language-javascript">import org.springframework.stereotype.Component;
import javax.annotation.PostConstruct;
import javax.annotation.PreDestroy;

@Component
public class Girl {

    @PostConstruct
    public void postConstruct(){
        System.out.println("\t>> Đối tượng Girl sau khi khởi tạo xong sẽ chạy hàm này");
    }

    @PreDestroy
    public void preDestroy(){
        System.out.println("\t>> Đối tượng Girl trước khi bị destroy thì chạy hàm này");
    }
}</code></pre>

    <p class="content__desc mt-10 mb-10">
        In ra màn hình quá Spring Boot chạy lần đầu cho tới khi shutdown:
    </p>
    <pre class="language-javascript"><code class="language-javascript">import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.context.ApplicationContext;
import org.springframework.context.ConfigurableApplicationContext;

@SpringBootApplication
public class App {
    public static void main(String[] args) {
        // ApplicationContext chính là container, chứa toàn bộ các Bean
        System.out.println("> Trước khi IoC Container được khởi tạo");
        ApplicationContext context = SpringApplication.run(App.class, args);
        System.out.println("> Sau khi IoC Container được khởi tạo");

        // Khi chạy xong, lúc này context sẽ chứa các Bean có đánh
        // dấu @Component.

        Girl girl = context.getBean(Girl.class);

        System.out.println("> Trước khi IoC Container destroy Girl");
        ((ConfigurableApplicationContext) context).getBeanFactory().destroyBean(girl);
        System.out.println("> Sau khi IoC Container destroy Girl");
    }
}</code></pre>

    <p class="content__desc mt-10 mb-10">
        Output:
    </p>
    <pre class="language-javscript"><code class="language-javascript">> Trước khi IoC Container được khởi tạo
> Trước khi IoC Container được khởi tạo
    >> Đối tượng Girl sau khi khởi tạo xong sẽ chạy hàm này
> Sau khi IoC Container được khởi tạo
> Trước khi IoC Container destroy Girl
    >> Đối tượng Girl trước khi bị destroy thì chạy hàm này
> Sau khi IoC Container destroy Girl</code></pre>

    <p class="content__desc mt-10 mb-10">
        Bạn sẽ thấy dòng "Trước khi IoC Container được khởi tạo" được chạy 2 lần.
    </p>

    <blockquote class="blockquote blockquote--normal mb-10">
        <p class="content__desc">
            Điều này xảy ra bởi vì hàm App.main(args) được chạy 2 lần!
        </p>
    </blockquote>
    <p class="content__desc mb-10">
        Lần đầu là do chúng ta chạy.
    </p>
    <p class="content__desc mb-10">
        Lần thứ hai là do <b>Spring Boot</b> chạy sau khi nó được gọi 
        <mark>SpringApplication.run(App.class, args)</mark>. Đây là lúc mà 
        <b>IoC Container</b> (<mark>ApplicationContext</mark>) được tạo ra và đi tìm <b>Bean</b>.
    </p>

    <p class="content__desc mb-10">
        <mark>Ý nghĩa</mark>
    </p>
    <p class="content__desc">
        <b>@PostConstruct</b> và <b>@PreDestroy</b> là 2 Annotation cực kỳ ý nghĩa, 
        nếu bạn nắm được vòng đời của một <b>Bean</b>, 
        bạn có thể tận dụng nó để làm các nhiệm vụ riêng như setting, 
        thêm giá trị mặc định trong thuộc tính sau khi tạo, xóa dữ liệu trước khi xóa, v.v.. 
        Rất nhiều chức năng khác tùy theo nhu cầu.
    </p>
</div>