<div class="content-wrap">
    <h2 class="content__heading-2 mb-20">RESTFul API Basic</h2>
    <h3 class="content__heading-3 mb-10">GET (READ) - Đọc thông tin</h3>
    <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/GET" style="color: blue; text-decoration: underline; line-height: 1.5">
        https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/GET
    </a>
    <p class="content__desc mt-10 mb-10 ti-30">
        Được dùng để lấy data
    </p>
    <p class="content__desc mt-10 mb-10 ti-30">
        Không truyền data ở body
    </p>
    <p class="content__desc mt-10 ti-30">
        Có thể truyền data ở url (ví dụ delete by id - @PathVariable)
    </p>

    <h3 class="content__heading-3 mt-20 mb-10">POST (CREATE) - Tạo mới thông tin</h3>
    <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/POST" style="color: blue; text-decoration: underline; line-height: 1.5">
        https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/POST
    </a>
    <p class="content__desc mt-10 mb-10 ti-30">
        Được dùng để truyền data lên server
    </p>
    <p class="content__desc ti-30">
        Có thể truyền data ở body request (@RequestBody)
    </p>

    <h3 class="content__heading-3 mt-20 mb-10">PUT/PATCH (UPDATE) - Cập nhật thông tin</h3>
    <a class="mb-10" href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/PUT" style="color: blue; text-decoration: underline; display: block; line-height: 1.5">
        https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/PUT
    </a>
    <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/PATCH" style="color: blue; text-decoration: underline; line-height: 1.5">
        https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/PATCH
    </a>
    <p class="content__desc mt-10 mb-10 ti-30">
        Được dùng để truyền data lên Server
    </p>
    <p class="content__desc ti-30">
        Có thể truyền data ở body request (@RequestBody)
    </p>

    <h3 class="content__heading-3 mt-20 mb-10">DELETE (DELETE) - Xóa thông tin</h3>
    <a class="mb-10" href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/DELETE" style="color: blue; text-decoration: underline; line-height: 1.5">
        https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/DELETE
    </a>
    <p class="content__desc mt-10 mb-10 ti-30">
        Được dùng để xóa data
    </p>
    <p class="content__desc ti-30">
        Có thể truyền data ở url (ví dụ delete by id - @PathVariable)
    </p>
</div>