<div class="content-wrap">
    <h2 class="content__heading-2 mb-10">Stateful - Stateless</h2>

    <p class="content__desc mb-10">
        <mark><b>Stateful</b></mark> = state application + <b>full</b> : chứa đầy state của application
    </p>
    <p class="content__desc mb-10">
        <mark><b>Session</b></mark>: 
    </p>
    <p class="content__desc mb-10 ti-30" style="padding-left: 29px; text-indent: 0px;">
        phiên đăng nhập.
    </p>
    <p class="content__desc ti-30" style="padding-left: 29px; text-indent: 0px;">
        Được dùng trong mô hình Stateful, cách mà ứng dụng lưu trữ data,
        giữa các lời gọi request
    </p>

    <p class="content__desc mt-20 mb-10">
        <mark><b>Stateless</b></mark> = state application + <b>less</b> : không chứa state của application.
    </p>
    <p class="content__desc">
        Không lưu trữ thông tin trong ứng dụng (nothing at all)
    </p>

    <p class="content__desc mt-20 mb-10">
        <mark><b>Monolithic</b></mark>:
    </p>
    <p class="content__desc mb-10 ti-30" style="padding-left: 29px; text-indent: 0px;">
        (architecture) all-in-one
    </p>
    <p class="content__desc mb-10 ti-30" style="padding-left: 29px; text-indent: 0px;">
        Code tất cả mọi thứ trong 1 dự án.
    </p>
    <p class="content__desc ti-30" style="padding-left: 29px; text-indent: 0px;">
        Ví dụ như mô hình MVC truyền thống
    </p>

    <p class="content__desc mt-20 mb-10">
        <mark><b>Microservice</b></mark>:
    </p>
    <p class="content__desc mb-10 ti-30" style="padding-left: 29px; text-indent: 0px;">
        (architecture): single-unit 
    </p>
    <p class="content__desc mb-10 ti-30" style="padding-left: 29px; text-indent: 0px;">
        Chia code thành các "thành phần riêng lẻ" (module/service)
    </p>
    <p class="content__desc ti-30" style="padding-left: 29px; text-indent: 0px;">
        Mục đích là giảm sự phụ thuộc giữa các thành phần, và tăng tính mở rộng
    </p>

    <blockquote class="blockquote blockquote--normal mt-10">
        <p class="content__desc mb-10">
            Stateful = Monolithic (khóa học MVC)
        </p>
        <p class="content__desc mb-10">
            Stateless = Microservice (khóa học này - Restful API)
        </p>
        <p class="content__desc mb-10">
            <b>Không có khái niệm Monolithic hay Microservice tốt hơn</b>,
            cái nào cũng có ưu và nhược điểm của nó.
        </p>
        <p class="content__desc">
            Việc bạn cần làm, là lựa chọn công nghệ sao cho nó "phục vụ tốt với mục đích của bạn"
        </p>
    </blockquote>
</div>