<div class="content-wrap">
    <h2 class="content__heading-2 mb-20">@Primary - @Qualifier</h2>
    <h4 class="content__heading-4 mt-20 mb-10">Vấn đề của @Autowired</h4>
    <p class="content__desc mb-10">
        Trong thực tế, sẽ có trường hợp chúng ta sử dụng @Autowired 
        khi Spring Boot có chứa 2 Bean cùng loại trong Context.
    </p>
    <p class="content__desc mb-10">
        Lúc này thì Spring sẽ bối rối và không biết sử dụng Bean nào để inject vào đối tượng.
    </p>
    <p class="content__desc mb-10">
        Ví dụ:
    </p>
    <p class="content__desc mb-10">
        Interface <b>Outfit</b> có 2 hội viên tham gia là Bikini và Fashion
    </p>
    <pre class="language-javascript"><code class="language-javascript">public interface Outfit {
    public void wear();
}

/*
 *  Đánh dấu class bằng @Component
 *  Class này sẽ được Spring Boot hiểu là một Bean (hoặc dependency)
 *  Và sẽ được Spring Boot quản lý
 */
@Component
public class Bikini implements Outfit {
    @Override
    public void wear() {
        System.out.println("Mặc bikini");
    }
}

@Component
public class Fashion implements Outfit {
    @Override
    public void wear() {
        System.out.println("Mặc fashion style");
    }
}</code></pre>

    <p class="content__desc mt-10 mb-10">
        Class Girl yêu cầu inject một Outfit vào cho mình.
    </p>
    <pre class="language-javascript"><code class="language-javascript">@Component
public class Girl {

    @Autowired
    Outfit outfit;

    public Girl(Outfit outfit) {
        this.outfit = outfit;
    }
}</code></pre>

    <p class="content__desc mt-10 mb-10">
        Lúc này khi chạy chương trình. Spring Boot sẽ báo lỗi như sau.
    </p>
    <p class="content__desc mb-10">
        Output:
    </p>
    <pre class="language-javascript"><code class="language-javascript">***************************
APPLICATION FAILED TO START
***************************

Description:

Parameter 0 of constructor in me.loda.spring.helloprimaryqualifier.Girl required a single bean, but 2 were found:
    - bikini: defined in file [/Users/lv00141/Documents/WORKING_SPACE/GITHUB/spring-boot-learning/spring-boot-helloworld-@Primary - @Qualifier/target/classes/me/loda/spring/helloprimaryqualifier/Bikini.class]
    - fashion: defined in file [/Users/lv00141/Documents/WORKING_SPACE/GITHUB/spring-boot-learning/spring-boot-helloworld-@Primary - @Qualifier/target/classes/me/loda/spring/helloprimaryqualifier/Fashion.class]</code></pre>

    <p class="content__desc mt-10 mb-10">
        Đại khái là, trong quá trình cài đặt, nó tìm thấy tới 2 đối tượng thoả mãn Outfit. 
        Giờ nó không biết sử dụng cái nào để inject vào trong Girl
    </p>
    <h4 class="content__heading-4 mb-10">@Primary</h4>
    <p class="content__desc mb-10">
        <mark>Cách giải quyết thứ nhất là sử dụng Annotation <b>@Primary</b>.</mark>
    </p>
    <p class="content__desc mb-10">
        @Primary là annotation đánh dấu trên một Bean, giúp nó <b>luôn được ưu tiên</b> lựa chọn 
        trong trường hợp có nhiều Bean cùng loại trong Context.
    </p>
    <p class="content__desc mb-10">
        Trong ví dụ ở trên, nếu chúng ta để <b>Fashion</b> là primary. Thì chương trình sẽ chạy bình thường.
    </p>
    <p class="content__desc mb-10 color-red">
        Và hiển nhiên Outfit bên trong Girl sẽ là <b>Fashion</b>.
    </p>
    <pre class="language-javascript"><code class="language-javascript">@Component
        @Primary
        public class Fashion implements Outfit {
            @Override
            public void wear() {
                System.out.println("Mặc fashion style");
    }
}</code></pre>

<p class="content__desc mt-10 mb-10">
    Chạy thử chương trình:
</p>
<pre class="language-javascript"><code class="language-javascript">@SpringBootApplication
    public class App {
        public static void main(String[] args) {
            // ApplicationContext chính là container, chứa toàn bộ các Bean
            ApplicationContext context = SpringApplication.run(App.class, args);
            
            // Khi chạy xong, lúc này context sẽ chứa các Bean có đánh
            // dấu @Component.
            
        Girl girl = context.getBean(Girl.class);
        
        System.out.println("Girl Instance: " + girl);
        
        System.out.println("Girl Outfit: " + girl.outfit);
        
        girl.outfit.wear();
    }
}</code></pre>

<p class="content__desc mt-10 mb-10">
    Output:
</p>
<pre class="language-javascript"><code class="language-javascript">Girl Instance: me.loda.spring.helloprimaryqualifier.Girl@eb9a089
    Girl Outfit: me.loda.spring.helloprimaryqualifier.Fashion@1688653c
    Mặc fashion style</code></pre>
    
    <blockquote class="blockquote blockquote--normal mt-10">
        <p class="content__desc">
            Spring Boot đã ưu tiên Fashion và inject nó vào Girl.
        </p>
    </blockquote>
    
    <h4 class="content__heading-4 mt-20 mb-10">@Qualifier</h4>
    <p class="content__desc mb-10">
        <mark>Cách thứ hai, là sử dụng Annotation <b>@Qualifier</b>.</mark>
    </p>
    <p class="content__desc mb-10">
        <b>@Qualifier</b> xác định tên của một Bean mà bạn muốn chỉ định inject.
    </p>
    <p class="content__desc mb-10">
        Ví dụ:
    </p>
    <pre class="language-javascript"><code class="language-javascript">@Component("bikini")
public class Bikini implements Outfit {
    @Override
    public void wear() {
        System.out.println("Mặc bikini");
    }
}

@Component("fashion")
public class Fashion implements Outfit {
    @Override
    public void wear() {
        System.out.println("Mặc fashion style");
    }
}

@Component
public class Girl {

    Outfit outfit;

    // Đánh dấu để Spring inject một đối tượng Outfit vào đây
    @Autowired
    public Girl(@Qualifier("fashion") Outfit outfit) {
        // Spring sẽ inject outfit thông qua Constructor đầu tiên
        // Ngoài ra, nó sẽ tìm Bean có @Qualifier("fashion") trong context để ịnject
        this.outfit = outfit;
    }
}</code></pre>

    <p class="content__desc mt-20 mb-10">
        <mark>Kết</mark>
    </p>
    <blockquote class="blockquote blockquote--normal">
        <p class="content__desc">
            <b>@Primary</b> và <b>@Qualifier</b> là một trong những tính năng bạn nên biết 
            trong Spring để có thể xử lý vấn đề nhiều Bean cùng loại trong một Project.
        </p>
    </blockquote>
</div>