<div class="content-wrap">
    <h4 class="content__heading-4 mb-10">Summary</h4>
    <p class="content__desc mb-10">
        &rarr; forEach (currentValue, index, array)
    </p>
    <ul class="mb-20 ti-30" style="list-style: disc inside;">
        <li class="content__desc">
            Không trả về giá trị
        </li>
        <li class="content__desc">
            bỏ qua phần tử null hoặc undefined
        </li>
        <li class="content__desc">
            not support break, continue
        </li>
        <li class="content__desc">
            return thoát hàm callback, nhưng không thoát vòng lặp
        </li>
    </ul>

    <p class="content__desc mb-10">
        &rarr; map (currentValue, index, array)
    </p>
    <ul class="mb-20 ti-30" style="list-style: disc inside;">
        <li class="content__desc">
            Trả về một mảng mới
        </li>
        <li class="content__desc">
            Không thay đổi mảng gốc.
        </li>
    </ul>
    <p class="content__desc mb-10">
        &rarr; reduce (accumulator, currentValue, index, array), và có thể nhận giá trị khởi tạo (initialValue)
    </p>
    <ul class="mb-20 ti-30" style="list-style: disc inside;">
        <li class="content__desc">
            Trả về một giá trị duy nhất
        </li>
        <li class="content__desc">
            Có thể chỉ định giá trị khởi tạo.
        </li>
        <li class="content__desc">
            Không thay đổi mảng ban đầu, và mảng trống sẽ trả về giá trị khởi tạo nếu có.
        </li>
    </ul>

    <p class="content__desc mb-10">
        for-in &rarr; sử dụng với object
    </p>
    <p class="content__desc mb-10">
        for-of &rarr; sử dụng với mảng
    </p>
</div>