<div class="content-wrap">
    <h2 class="content__heading-2 mb-10">Ép kiểu (Type coercion)</h2>
    <p class="content__desc mb-10">
        Ép kiểu (Type coercion) trong JavaScript là quá trình chuyển đổi giá trị từ một kiểu dữ liệu này sang một kiểu khác.
    </p>
    <p class="content__desc mb-10">
        Điều này thường xảy ra tự động, chẳng hạn khi sử dụng toán tử so sánh == hoặc các toán tử số học như +, -, v.v.
    </p>
    <p class="content__desc mb-10">Ví dụ</p>
    <pre class="language-javascript"><code class="language-javascript">"3" + 2; // "32"</code></pre>
    <blockquote class="blockquote blockquote--normal mt-10">
        <p class="content__desc">
            Ở đây, JavaScript đã tự động chuyển số 2 thành chuỗi và 
            kết hợp nó với chuỗi "3", tạo ra kết quả là "32", không phải là 5.
        </p>
    </blockquote>

    <h2 class="content__heading-2 mt-20 mb-20">Ép kiểu rõ ràng và ép kiểu ngầm</h2>
    <h3 class="content__heading-3 mb-10">Ép kiểu rõ ràng</h3>
    <p class="content__desc mb-10">
        Ép kiểu rõ ràng là khi bạn chủ động chuyển đổi kiểu dữ liệu 
        bằng cách sử dụng các hàm như <b>Number()</b>, <b>String()</b>, <b>Boolean()</b>, v.v.
    </p>
    <pre class="language-javascript"><code class="language-javascript">Number("123"); // 123</code></pre>
    <p class="content__desc mt-10 mb-10">
        Trong JavaScript, mỗi kiểu dữ liệu cơ bản đều có các hàm chuyển đổi 
        tương ứng để thực hiện chuyển đổi giữa các kiểu.
    </p>
    <p class="content__desc mb-10">Kiểu số (number): Có hàm Number() để chuyển đổi giá trị sang kiểu số.</p>
    <p class="content__desc mb-10">Kiểu chuỗi (string): Có hàm String() để chuyển đổi giá trị sang kiểu chuỗi.</p>
    <p class="content__desc mb-10">Kiểu boolean (boolean): Có hàm Boolean() để chuyển đổi giá trị sang kiểu boolean.</p>
    <p class="content__desc mb-10">Đối tượng (object): Có hàm Object() để tạo hoặc chuyển đổi giá trị thành đối tượng.</p>
    <p class="content__desc mb-10">Mảng (array): Có hàm Array() để tạo mảng mới hoặc chuyển đổi giá trị thành mảng.</p>
    <p class="content__desc mb-10">Hàm (function): Có hàm Function() để tạo hàm mới.</p>
    <p class="content__desc">null và undefined: Không có hàm chuyển đổi kiểu dữ liệu tương ứng.</p>

    <h3 class="content__heading-3 mt-20 mb-10">Ép kiểu ngầm</h3>
    <p class="content__desc mb-10">
        Ép kiểu ngầm xảy ra khi JavaScript tự động quyết định kiểu dữ liệu, 
        thường là trong các phép toán và so sánh.
    </p>
    <p class="content__desc mb-10">Ví dụ:</p>
    <pre class="language-javascript"><code class="language-javascript">5 + ""; // "5"</code></pre>
    <blockquote class="blockquote blockquote--normal mt-10">
        <p class="content__desc">
            Hiểu rõ về ép kiểu trong JavaScript rất quan trọng để tránh những lỗi không mong muốn trong quá trình lập trình. 
            Đặc biệt, nên chú ý đến những tình huống ép kiểu ngầm, vì chúng có thể dẫn đến hiểu nhầm.
        </p>
    </blockquote>

    <h2 class="content__heading-2 mt-20 mb-10">Các trường hợp ép kiểu phổ biến</h2>
    <h3 class="content__heading-3 mb-10">Ép kiểu sang chuỗi</h3>
    <p class="content__desc mb-10">
        Bất kỳ kiểu dữ liệu nào trong JavaScript cũng có thể được chuyển đổi thành chuỗi. 
        Dưới đây là 3 phương pháp phổ biến và ví dụ minh họa:
    </p>
    <p class="content__desc mb-10">
        <b>Cách 1</b>: Sử dụng hàm <b>String()</b>.
    </p>
    <pre class="language-javascript"><code class="language-javascript">String(123); // "123"</code></pre>
    <p class="content__desc mt-10 mb-10"><b>Cách 2</b>: Sử dụng phương thức <b>toString()</b>.</p>
    <pre class="language-javascript"><code class="language-javascript">(123).toString(); // "123"
// Lưu ý: không áp dụng được cho `null` và `undefined`</code></pre>
    <p class="content__desc mt-10 mb-10"><b>Cách 3</b>: <b>Nối chuỗi</b> hoặc <b>Template literals</b>.</p>
    <pre class="language-javascript"><code class="language-javascript">`${123}`; // "123"
// hoặc
123 + ""; // "123"</code></pre>

    <h3 class="content__heading-3 mt-20 mb-10">BẢNG SO SÁNH CÁC CÁCH ÉP KIỂU SANG CHUỖI</h3>
    <p class="content__desc mb-10">
        Bảng dưới đây cung cấp cái nhìn trực quan về điểm giống và khác nhau 
        cho các cách ép kiểu sang chuỗi như String(), .toString(), toán tử + và Template literals.
    </p>
    <table>
        <thead>
            <tr>
                <th>Phương thức</th>
                <th>Mô tả</th>
                <th>Lưu ý</th>
                <th>Ví dụ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>String(value)</td>
                <td>Chuyển đổi value sang chuỗi.</td>
                <td>Hoạt động với mọi kiểu dữ liệu.</td>
                <td>String(123) -> "123"</td>
            </tr>

            <tr>
                <td>
                    value.toString()
                </td>
                <td>Chuyển đổi value sang chuỗi.</td>
                <td>Không hoạt động với null và undefined.</td>
                <td>(123).toString() -> "123"</td>
            </tr>

            <tr>
                <td>
                    Template literals hoặc nối chuỗi
                </td>
                <td>Chuyển đổi value sang chuỗi. Ví dụ: ${value} hoặc value + "".</td>
                <td>Hoạt động với mọi kiểu dữ liệu.</td>
                <td>123 + "" -> "123"</td>
            </tr>
        </tbody>
    </table>

    <h3 class="content__heading-3 mt-20 mb-10">Ép kiểu sang số</h3>
    <p class="content__desc mb-10">Dưới đây là một số cách chuyển đổi giá trị sang kiểu số trong JavaScript, cùng với ví dụ minh họa:</p>
    <p class="content__desc mb-10">Cách 1: Sử dụng hàm Number().</p>
    <pre class="language-javascript"><code class="language-javascript">Number("456"); // 456
Number(true); // 1
Number(null); // 0</code></pre>
    <p class="content__desc mt-10 mb-10">Cách 2: Sử dụng toán tử cộng +.</p>
    <pre class="language-javascript"><code class="language-javascript">+"456"; // 456
+true; // 1
+null; // 0</code></pre>

    <blockquote class="blockquote blockquote--normal mt-10 mb-10">
        <p class="content__desc">Lưu ý: Các giá trị "" (chuỗi rỗng), "0" (chuỗi chứa số 0), "000", 0, -0, null, false, 
            [], {} và new Date(0) khi ép kiểu sang Number sẽ trả về 0.
        </p>
    </blockquote>
    <p class="content__desc mb-10">
        Các giá trị là chuỗi không phải là số ("abc"), undefined, và NaN không chuyển đổi thành 0 
        khi sử dụng Number() hoặc +. Thay vào đó, chúng sẽ trả về NaN (Not-a-Number).
    </p>
    <p class="content__desc mb-10">Ví dụ:</p>
    <pre class="language-javascript"><code class="language-javascript">Number("abc"); // NaN
Number(undefined); // NaN</code></pre>
    <p class="content__desc mt-10 mb-10">Cách 3: Sử dụng parseInt() và parseFloat().</p>
    <pre class="language-javascript"><code class="language-javascript">parseInt("123", 10); // 123
parseFloat("123.45"); // 123.45</code></pre>

    <blockquote class="blockquote blockquote--normal mt-10 mb-10">
        <p class="content__desc mb-10">Lưu ý: Cách hoạt động của parseInt() và parseFloat() khác với các cách ép kiểu sang Number ở trên. Cụ thể, nó hoạt động như sau:</p>
    </blockquote>
    
    <blockquote class="blockquote blockquote--normal">
        <p class="content__desc mb-10">Khi đầu vào là một chuỗi: parseInt() và parseFloat() sẽ phân tích chuỗi đó để tìm số đầu tiên và chuyển số đó sang kiểu Number.</p>
        <p class="content__desc mb-10">Nếu không tìm thấy số nào, kết quả sẽ là NaN.</p>
        <p>Khi đầu vào không phải chuỗi: parseInt() và parseFloat() trước tiên sẽ chuyển giá trị đó thành chuỗi. Sau đó, thực hiện quá trình phân tích như bước trên.</p>
    </blockquote>

    <h3 class="content__heading-3 mt-20 mb-10">BẢNG SO SÁNH CÁC CÁCH ÉP KIỂU SANG SỐ</h3>
    <table>
        <thead>
            <tr>
                <th>Tính năng/Phương thức</th>
                <th>Number(value) / +value</th>
                <th>parseFloat(value) / parseInt(value)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Xử lý chuỗi</td>
                <td>Chặt chẽ</td>
                <td>Linh hoạt</td>
            </tr>

            <tr>
                <td>
                    VD chuỗi phức tạp
                </td>
                <td>"123abc" -> NaN</td>
                <td>parseFloat("123abc") -> 123,<br>
                    parseInt("123abc") -> 123
                </td>
            </tr>

            <tr>
                <td>
                    Xử lý số thực
                </td>
                <td>Chính xác</td>
                <td>parseFloat giữ nguyên, parseInt làm tròn xuống</td>
            </tr>

            <tr>
                <td>
                    Xử lý boolean
                </td>
                <td>true -> 1, false -> 0</td>
                <td>NaN</td>
            </tr>

            <tr>
                <td>
                    Xử lý null
                </td>
                <td>0</td>
                <td>NaN</td>
            </tr>
            <tr>
                <td>
                    Xử lý undefined
                </td>
                <td>NaN</td>
                <td>NaN</td>
            </tr>
        </tbody>
    </table>

    <h3 class="content__heading-3 mt-20 mb-10">Ép kiểu sang Boolean</h3>
    <p class="content__desc mb-10">Có hai cách chính để chuyển đổi giá trị sang kiểu boolean:</p>
    <p class="content__desc mb-10">Cách 1: Sử dụng hàm Boolean().</p>
    <pre class="language-javascript"><code class="language-javascript">Boolean(1); // true
Boolean(0); // false
Boolean("hello"); // true
Boolean(""); // false</code></pre>
    <p class="content__desc mt-10 mb-10">Cách 2: Sử dụng toán tử NOT hai lần !!</p>
    <pre class="language-javascript"><code class="language-javascript">!!0; // false
!!1; // true</code></pre>
    <p class="content__desc mt-10">
        Chỉ có 6 giá trị sau đây khi ép kiểu sang boolean sẽ trả về false: false, 0, "" (chuỗi rỗng), null, undefined, và NaN. 
        Mọi giá trị khác khi ép sang boolean đều trở thành true.
    </p>

    <h3 class="content__heading-3 mt-20 mb-10">Tại sao ít khi chuyển kiểu dữ liệu khác sang Object?</h3>
    <p class="content__desc mb-10">
        Trong JavaScript, việc chuyển đổi từ các kiểu dữ liệu đơn giản sang Object 
        không phổ biến do cấu trúc dữ liệu và mức độ phức tạp khác nhau.
    </p>
    <p class="content__desc">
        Ví dụ, chuyển một số hoặc chuỗi thành Object có thể không mang lại giá trị thực tế và làm tăng độ phức tạp của code.
    </p>

    <div class="separate"></div>

    <h2 class="content__heading-2 mb-20">Quy tắc ép kiểu ngầm</h2>
    <h3 class="content__heading-3 mb-10">Ép kiểu ngầm với toán tử so sánh ==</h3>
    <p class="content__desc mb-10">
        Trong JavaScript, khi so sánh x == y, kết quả sẽ trả về true hoặc false. 
        Quá trình so sánh này được thực hiện như sau:
    </p>
    <p class="content__desc mb-10">1. Nếu x và y cùng kiểu dữ liệu:</p>
    <blockquote class="blockquote blockquote--normal">
        <p class="content__desc mb-10">1.1 <b>Nếu cả hai</b> là <b>undefined</b> hoặc <b>null</b>, trả về <b>true</b>.</p>
        <p class="content__desc mb-10">1.2 Nếu là số:</p>
        <p class="content__desc mb-10 ti-30">1.2.1 Nếu <b>một trong hai</b> là <b>NaN</b>, trả về <b>false</b>.</p>
        <p class="content__desc mb-10 ti-30">1.2.2 Nếu cả <b>hai số giống hệt</b> nhau, trả về <b>true</b>.</p>
        <p class="content__desc mb-10">
            1.3 Nếu là <b>chuỗi</b>, so sánh từng ký tự (<b>cùng độ dài</b> và <b>giống nhau từng ký tự theo vị trí</b>) 
            để xác định chúng có giống hệt nhau không.
        </p>
        <p class="content__desc mb-10">
            1.4 Nếu là boolean, trả về <b>true</b> nếu <b>cả hai cùng true</b> hoặc <b>cùng false</b>.
        </p>
    </blockquote>

    <p class="content__desc mb-10">2. Nếu x là null và y là undefined, hoặc ngược lại, trả về true.</p>
    <p class="content__desc mb-10">3. Nếu một trong hai là số và cái kia là chuỗi, chuyển đổi chuỗi thành số rồi so sánh.</p>
    <p class="content__desc mb-10">4. Nếu một trong hai là boolean, chuyển đổi boolean thành số rồi so sánh.</p>
    <p class="content__desc mb-10">
        5. Nếu một trong hai là đối tượng và cái kia là chuỗi hoặc số, chuyển đổi đối 
        tượng thành giá trị nguyên thủy rồi so sánh.
    </p>
    <p class="content__desc mb-10">6. Nếu không thỏa mãn các trường hợp trên, trả về false.</p>

    <blockquote class="blockquote blockquote--normal">
        <p class="content__desc mb-10">Trong trường hợp “Nếu x là null và y là undefined, hoặc ngược lại, trả về true,” không có sự ép kiểu ngầm định giữa null và undefined.</p>
        <p class="content__desc mb-10">Đây là một quy tắc đặc biệt trong JavaScript khi sử dụng toán tử so sánh bằng lỏng lẻo (==).</p>
        <p class="content__desc mb-10">Theo quy tắc này, null và undefined được coi là bằng nhau mà không cần chuyển đổi kiểu dữ liệu của chúng.</p>
        <p class="content__desc mb-10">Điều này có nghĩa là không có sự chuyển đổi kiểu dữ liệu nào xảy ra;</p>
        <p class="content__desc">JavaScript đơn giản chỉ coi chúng là giống nhau trong trường hợp cụ thể này (so sánh ==).</p>
    </blockquote>

    <h3 class="content__heading-3 mt-20 mb-10">Ép kiểu ngầm với toán tử số học</h3>
    <p class="content__desc mb-10">Toán tử cộng (+)</p>
    <p class="content__desc mb-10">
        Trong JavaScript, toán tử cộng (+) có thể thực hiện cả phép cộng số học và nối chuỗi. 
        Cách hoạt động của nó được xác định như sau:
    </p>
    <p class="content__desc mb-10 ti-30">
        Xem xét giá trị của biểu thức bên trái và bên phải của toán tử.
    </p>
    <p class="content__desc mb-10 ti-30">
        Chuyển đổi giá trị này sang kiểu nguyên thủy (ToPrimitive).
    </p>
    <p class="content__desc mb-10 ti-30">
        Nếu một trong hai giá trị sau khi chuyển đổi là chuỗi, thực hiện nối chuỗi.
    </p>
    <p class="content__desc mb-10 ti-30">
        Nếu không, chuyển đổi cả hai giá trị sang số (ToNumber) và thực hiện phép cộng.
    </p>
    <p class="content__desc mb-10">Ví dụ</p>
    <p class="content__desc mb-10 ti-30">"5" + 2 sẽ có kết quả là "52" (nối chuỗi).</p>
    <p class="content__desc mb-10 ti-30">5 + "2" cũng sẽ trở thành "52".</p>
    <p class="content__desc ti-30">5 + 2 sẽ có kết quả là 7 (phép cộng số).</p>

    <p class="content__desc mt-20 mb-10">Toán tử trừ (-)</p>
    <p class="content__desc mb-10">
        Toán tử trừ (-) chỉ thực hiện phép trừ số học. Trong quá trình này, toán tử trừ chuyển đổi 
        cả hai giá trị sang số rồi mới thực hiện phép trừ.
    </p>
    <p class="content__desc mb-10 ti-30">5 - "2" sẽ trả về 3 (chuyển "2" thành số).</p>
    <p class="content__desc ti-30">"10" - "2" sẽ trả về 8 (chuyển "10" và "2" thành số).</p>

    <h3 class="content__heading-3 mt-20 mb-10">Bảng chuyển đổi kiểu dữ liệu</h3>
    <p class="content__desc mb-10">
        Bảng dưới đây cung cấp một cái nhìn tổng quan về cách các giá trị khác nhau trong JavaScript 
        được chuyển đổi sang các kiểu dữ liệu Number, String và Boolean.
    </p>

    <table class="mb-10">
        <thead>
            <tr>
                <th>Giá trị gốc</th>
                <th>Chuyển thành số</th>
                <th>Chuyển thành chuỗi</th>
                <th>Chuyển thành boolean</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>false</td>
                <td>0</td>
                <td>“false”</td>
                <td>false</td>
            </tr>
            <tr>
                <td>true</td>
                <td>1</td>
                <td>“true”</td>
                <td>true</td>
            </tr>
            <tr>
                <td>0</td>
                <td>0</td>
                <td>“0”</td>
                <td>false</td>
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>“1”</td>
                <td>true</td>
            </tr>
            <tr>
                <td>“0”</td>
                <td>0</td>
                <td>“0”</td>
                <td class="red">true</td>
            </tr>
            <tr>
                <td>“000”</td>
                <td>0</td>
                <td>“000”</td>
                <td class="red">true</td>
            </tr>
            <tr>
                <td>“1”</td>
                <td>1</td>
                <td>“1”</td>
                <td>true</td>
            </tr>
            <tr>
                <td>NaN</td>
                <td>NaN</td>
                <td>“NaN”</td>
                <td>false</td>
            </tr>
            <tr>
                <td>Infinity</td>
                <td>Infinity</td>
                <td>“Infinity”</td>
                <td>true</td>
            </tr>
            <tr>
                <td>-Infinity</td>
                <td>-Infinity</td>
                <td>“-Infinity”</td>
                <td>true</td>
            </tr>
            <tr>
                <td>“”</td>
                <td>0</td>
                <td>“”</td>
                <td>false</td>
            </tr>
            <tr>
                <td>“20”</td>
                <td>20</td>
                <td>“20”</td>
                <td>true</td>
            </tr>
            <tr>
                <td>“twenty”</td>
                <td>NaN</td>
                <td>“twenty”</td>
                <td>true</td>
            </tr>
            <tr>
                <td>[]</td>
                <td>0</td>
                <td>“”</td>
                <td class="red">true</td>
            </tr>
            <tr>
                <td>[20]</td>
                <td>20</td>
                <td>“20”</td>
                <td>true</td>
            </tr>
            <tr>
                <td>[10, 20]</td>
                <td>NaN</td>
                <td>“10,20”</td>
                <td>true</td>
            </tr>
            <tr>
                <td>[“twenty”]</td>
                <td>NaN</td>
                <td>“twenty”</td>
                <td>true</td>
            </tr>
            <tr>
                <td>[“ten”, “twenty”]</td>
                <td>NaN</td>
                <td>“ten,twenty”</td>
                <td>true</td>
            </tr>
            <tr>
                <td>function sum() {}</td>
                <td>NaN</td>
                <td>“function sum() {}”</td>
                <td>true</td>
            </tr>
            <tr>
                <td>{}</td>
                <td>NaN</td>
                <td>“[object Object]”</td>
                <td class="red">true</td>
            </tr>
            <tr>
                <td>null</td>
                <td>0</td>
                <td>“null”</td>
                <td>false</td>
            </tr>
            <tr>
                <td>undefined</td>
                <td class="red">NaN</td>
                <td>“undefined”</td>
                <td>false</td>
            </tr>

        </tbody>
    </table>

    <blockquote class="blockquote blockquote--normal">
        <p class="content__desc"><b class="red">Giá trị màu đỏ</b> chỉ các giá trị mà một số lập trình viên có thể không mong đợi.</p>
    </blockquote>

    <h2 class="content__heading-2 mt-20 mb-10">Lưu ý quan trọng</h2>
    <p class="content__desc mb-10">
        <b>Nên sử dụng toán tử so sánh nghiêm ngặt</b>: Để tránh những hành vi không mong muốn từ ép kiểu ngầm, nên sử dụng toán tử ===.
    </p>
    <p class="content__desc mb-10">
        Toán tử này chỉ trả về true khi cả hai giá trị có cùng kiểu dữ liệu và giá trị.
    </p>
    <p class="content__desc mb-10">
        Tư duy nghiêm ngặt với kiểu dữ liệu: Khi lập trình, 
        hãy chú ý đến việc sử dụng cùng kiểu dữ liệu trong so sánh và các phép tính toán.
    </p>
    <p class="content__desc mb-10">
        Điều này giúp tránh những lỗi logic không mong muốn.
    </p>
    <p class="content__desc mb-10">Ví dụ:</p>
    <pre class="language-javascript"><code class="language-javascript">3 === "3"; // false, vì một là số và một là chuỗi
3 === 3;   // true, cùng kiểu và giá trị</code></pre>
    <p class="content__desc mt-10">
        Nắm vững các quy tắc và kỹ thuật ép kiểu trong 
        JavaScript sẽ giúp bạn viết code chính xác hơn, tránh được những lỗi phổ biến, 
        và hiểu rõ hơn về cách ngôn ngữ này xử lý dữ liệu.
    </p>

    <div class="separate"></div>
    <h2 class="content__heading-2 mb-10">Exercise</h2>
    <p class="content__desc mb-10">
        Viết hàm calculate nhận vào ba tham số: a, b (dưới dạng chuỗi), và operator (chuỗi chỉ định phép toán).
    </p>
    <p class="content__desc mb-10">
        Hàm này sẽ thực hiện phép toán (add, subtract, multiply, divide) trên hai tham số đã 
        chuyển đổi từ chuỗi sang số và trả về kết quả. Hàm cần xử lý trường hợp sau khi chuyển đổi là NaN.
    </p>
    <pre class="language-javascript"><code class="language-javascript">/**
* Calculates the result based on the given operator and operands.
* @param {string} a - The first operand as a string.
* @param {string} b - The second operand as a string.
* @param {string} operator - The operator to perform ("add", "subtract", "multiply", "divide").
* @returns {number|string} - The result of the calculation or an error message.
*/
function calculate(a, b, operator) {
    if (isNaN(a) || isNaN(b)) {
        return "Invalid input number";
    } else if (Number(b) === 0) {
        return "Cannot divide by zero";
    } else {
        switch (operator) {
            case "add":
                return Number(a) + Number(b);
            case "subtract":
                return Number(a) - Number(b);
            case "multiply":
                return Number(a) * Number(b);
            case "divide":
                return Number(a) / Number(b);
            default:
                return "Invalid operator";
        }
    }
}

// Sample usage
console.log(calculate("5", "3", "add"));      // 8
console.log(calculate("5", "3", "subtract")); // 2
console.log(calculate("5", "3", "multiply")); // 15
console.log(calculate("5", "0", "divide"));   // Cannot divide by zero
console.log(calculate("five", "3", "add"));   // Invalid input number
console.log(calculate("5", "three", "add"));  // Invalid input number
console.log(calculate("5", "3", "modulus"));  // Invalid operator</code></pre>
</div>