<div class="content-wrap">
    <h2 class="content__heading-2 mb-10">DASHBOARD</h2>
    <h3 class="content__heading-3 mb-10">Array method</h3>
    <h4 class="content__heading-4 mb-10">Thêm</h4>
    <p class="content__desc mb-10">
        push():
    </p>
    <p class="content__desc mb-10">
        unshift()
    </p>

    <h4 class="content__heading-4 mb-10">Xóa</h4>
    <p class="content__desc mb-10">
        pop()
    </p>
    <p class="content__desc mb-10">
        shift()
    </p>

    <h4 class="content__heading-4 mb-10">Tìm kiếm</h4>
    <p class="content__desc mb-10">
        indexOf() || indexOf("value", index)
    </p>
    <p class="content__desc mb-10">
        lastIndexOf() || indexOf(2, 3)
    </p>
    <p class="content__desc mb-10">
        includes()
    </p>
    <h4 class="content__heading-4 mb-10">Chuyển mảng thành chuỗi</h4>
    <p class="content__desc mb-10">
        join() 
    </p>
    <p class="content__desc mb-10">
        toString()
    </p>
    <h4 class="content__heading-4 mb-10">Đảo ngược mảng</h4>
    <p class="content__desc mb-10">
        reverse()
    </p>

    <h4 class="content__heading-4 mb-10">Copy mảng</h4>
    <p class="content__desc mb-10">
        slice()
    </p>
</div>