<div class="content-wrap">
    <h2 class="content__heading-2 mb-20">Toán tử Logical nâng cao</h2>
    <h3 class="content__heading-3 mb-10">Toán tử AND và OR không chỉ trả về Boolean</h3>
    <blockquote class="blockquote blockquote--normal">
        <p class="content__desc">
            Thực tế, toán tử <b>&&</b> và <b>||</b> sẽ <b>trả về giá trị</b> của một trong các <b>toán hạng</b>, 
            <b>không nhất thiết</b> phải <b>là</b> giá trị <b>Boolean</b>.
        </p>
    </blockquote>

    <h4 class="content__heading-4 mt-10 mb-10">Nguyên lý hoạt động của toán tử AND</h4>
    <p class="content__desc mb-10">Toán tử <b>&&</b> trả về giá trị “falsy” đầu tiên.</p>
    <p class="content__desc mb-10"><b>Nếu không có giá trị “falsy”</b>, <b>trả về giá trị cuối cùng</b>.</p>
    <p class="content__desc mb-10">Ví dụ:</p>
    <pre class="language-javascript"><code class="language-javascript">// Trả về falsy đầu tiên
false && true; // false
0 && 1; // 0
"" && null; // ""
5 && NaN && 6; // NaN

// Không có falsy, trả về giá trị cuối cùng
6 && 8; // 8
["Red", "Blue"] && { name: "John" } && "Hello"; // "Hello"
true && 1 && "Hello" && ["Red", "Green"]; // ["Red", "Green"]</code></pre>
    <p class="content__desc mt-10 mb-10">
        Tại sao lại có nguyên lý này?: <b>Toán tử &&</b> được dùng để kiểm tra 
        <b>tất cả điều kiện đều đúng</b>. Vì vậy, <b>chỉ cần gặp điều kiện sai đầu tiên</b> 
        là có thể <b>kết luận</b> biểu thức <b>là sai</b>.
    </p>
    <p class="content__desc mb-10">
        Trả về giá trị “falsy” đầu tiên để phục vụ if kiểm tra và 
        tiết kiệm tài nguyên (không cần kiểm tra các điều kiện còn lại).
    </p>

    <h4 class="content__heading-4 mt-20 mb-10">Nguyên lý hoạt động toán tử OR</h4>
    <p class="content__desc mb-10">
        Toán tử <b>||</b> trả về giá trị “truthy” đầu tiên.
    </p>
    <p class="content__desc mb-10">
        <b>Nếu không có giá trị “truthy”</b>, 
        <b>trả về giá trị cuối cùng</b>.
    </p>
    <p class="content__desc mb-10">
        Ví dụ:
    </p>
    <pre class="language-javascript"><code class="language-javascript">// Trả về truthy đầu tiên
1 || 0; // 1
"Hello" || ""; // "Hello"
"Hi" || "Hello"; // "Hi"
10 || "Hello" || true; // 10

// Không có truthy, trả về giá trị cuối cùng
0 || NaN; // NaN
"" || 0 || null; // null
NaN || -0 || undefined || false; // false</code></pre>
    <p class="content__desc mt-10 mb-10">
        <b>Tại sao lại có nguyên lý này?</b>: <b>Toán tử ||</b> được dùng để <b>kiểm tra ít nhất</b> 
        có <b>một điều kiện đều đúng</b>.
    </p>
    <p class="content__desc mb-10">
        Vì vậy, <b>chỉ cần gặp điều kiện đúng đầu tiên</b> là có thể <b>kết luận</b> biểu thức <b>là đúng</b>.
    </p>
    <p class="content__desc">
        Trả về giá trị “truthy” đầu tiên để phục vụ if kiểm tra và tiết kiệm tài nguyên 
        (không cần kiểm tra các điều kiện còn lại).
    </p>

    <h4 class="content__heading-4 mt-20 mb-10">Đánh giá ngắn gọn” là gì?</h4>
    <p class="content__desc mb-10">
        Đánh giá ngắn gọn (Short-Circuit Evaluation) là khi có thể biết kết quả cuối cùng 
        mà không cần xem xét hết biểu thức
    </p>
    <p class="content__desc mb-10">Quá trình kiểm tra sẽ dừng và trả về kết quả.</p>
    <p class="content__desc mb-10">Giúp tránh làm công việc thừa</p>
    <p class="content__desc mb-10">Giúp tối ưu hơn vì xử lý trở nên nhanh hơn.</p>

    <p class="content__desc mb-10">
        <b>Có hai loại “Đánh giá ngắn gọn”:</b>
    </p>
    <p class="content__desc mb-10 ti-30">
        Toán tử && (AND): Nếu biểu thức bên trái là “falsy”, 
        toàn bộ biểu thức sẽ trả về giá trị của biểu thức bên trái 
        mà không cần đánh giá biểu thức bên phải.
    </p>
    <p class="content__desc ti-30">
        Toán tử || (OR): Nếu biểu thức bên trái là “truthy”, 
        toàn bộ biểu thức sẽ trả về giá trị của biểu thức bên trái 
        mà không cần đánh giá biểu thức bên phải.
    </p>

    <h4 class="content__heading-4 mt-20 mb-10">Cách tận dụng “Đánh giá ngắn gọn”</h4>
    <p class="content__desc mb-10 ti-30">
        Toán tử && (AND): Sắp xếp các điều kiện có khả năng trả về “falsy” nhiều hơn lên trước.
    </p>
    <p class="content__desc ti-30">
        Toán tử || (OR): Sắp xếp các điều kiện có khả năng trả về “truthy” nhiều hơn lên trước.
    </p>
    <blockquote class="blockquote blockquote--normal mt-10">
        <p class="content__desc">Điều này giúp tối ưu hóa việc đánh giá biểu thức và cải thiện hiệu suất của chương trình.</p>
    </blockquote>

    <h3 class="content__heading-3 mt-20 mb-10">Các ứng dụng khác của toán tử AND và OR</h3>
    <p class="content__desc mb-10">
        Dựa vào nguyên lý hoạt động của toán tử && và || nên chúng 
        có thể được sử dụng trong nhiều trường hợp khác nhau, không chỉ dùng với if-else.
    </p>
    <p class="content__desc mb-10">Cách dùng if-else:</p>
    <pre class="language-javascript"><code class="language-javascript">let greeting = "Xin chào!";
if (greeting) {
    alert(greeting); // Xin chào!
}</code></pre>
    <p class="content__desc mt-20 mb-10">Cách dùng toán tử AND:</p>
    <pre class="language-javascript"><code class="language-javascript">let greeting = "Xin chào!";
greeting && alert(greeting); // Xin chào!</code></pre>
    <p class="content__desc mb-10">Trong trường hợp này, greeting có giá trị “truthy” ("Xin chào!")</p>
    <p class="content__desc mb-10">do đó toán tử AND tiếp tục đánh giá và thực thi hàm alert(greeting).</p>

    <p class="content__desc mt-20 mb-10">Cách dùng toán tử OR:</p>
    <pre class="language-javascript"><code class="language-javascript">let userName = null; // Có thể là null hoặc các chuỗi khác
let displayName = userName || "Guest";

console.log(displayName); // Guest</code></pre>
    <p class="content__desc mt-10">
        Trường hợp này userName là null nên toán tử OR sẽ tiếp tục đánh giá tới giá trị "Guest" 
        (truthy) và trả về giá trị này.
    </p>

    <h4 class="content__heading-4 mt-20 mb-10">Lấy một giá trị theo độ ưu tiên</h4>
    <p class="content__desc mb-10">
        Đề bài: Cho 3 biến firstName, lastName và email phục vụ cho việc in ra tên người dùng.
    </p>
    <p class="content__desc mb-10">
        Luôn in ra một trong 3 giá trị, ưu tiên theo thứ tự firstName, lastName và email
    </p>
    <p class="content__desc mb-10">
        nếu cả 3 biến không có giá trị thì không in ra.
    </p>
    <p class="content__desc mb-10">
        Áp dụng toán tử OR và AND:
    </p>

    <pre class="language-javascript"><code class="language-javascript">let firstName = "John";
let lastName = "Smith";
let email = "johnsmith@gmail.com";
let displayName = firstName || lastName || email || "Guest";

displayName && console.log(displayName); // John</code></pre>

    <blockquote class="blockquote blockquote--normal mt-10">
        <p class="content__desc">
            Cả toán tử AND và OR đều rất linh hoạt và có thể được 
            sử dụng trong nhiều tình huống khác nhau, từ kiểm tra điều kiện đơn giản 
            đến xây dựng logic phức tạp. 
            Việc hiểu rõ cách sử dụng chúng sẽ giúp bạn viết code hiệu quả và dễ đọc hơn.
        </p>
    </blockquote>

    <div class="separate"></div>

    <h2 class="content__heading-2 mb-10">Toán tử Nullish Coalescing</h2>
    <p class="content__desc mb-10">
        Toán tử <b>Nullish coalescing (??) là toán tử logical</b>
        <b>trả về toán hạng bên phải</b> của nó <b>khi</b> <b>toán hạng bên trái là null</b> hoặc <b>undefined</b>.
    </p>
    <p class="content__desc">Ngược lại trả về toán hạng bên trái của nó.</p>
    <blockquote class="blockquote blockquote--normal mt-10">
        <p class="content__desc">
            Toán tử <b>Nullish coalescing (??)</b> được giới thiệu trong <b>ECMAScript 2020 (ES11)</b>
            cung cấp một cách <b>tiện lợi</b> để <b>xử lý</b> các <b>giá trị null</b> và <b>undefined</b>.</p>
    </blockquote>

    <p class="content__desc mt-10 mb-10">Ví dụ:</p>
    <pre class="language-javascript"><code class="language-javascript">let username = null
let defaultUsername = "Guest";
let showUsername = userName ?? defaultUsername;
console.log(showUsername); // Guest</code></pre>

    <h3 class="content__heading-3 mt-20 mb-10">Ví dụ thực tế sử dụng Nullish coalescing</h3>
    <p class="content__desc mb-10">
        Tạo một hàm getElement có ba tham số là array, index và defaultValue.
    </p>
    <p class="content__desc mb-10">
        Hàm sẽ trả về giá trị của phần tử tương ứng với index
    </p>
    <p class="content__desc mb-10">
        nếu giá trị là undefined thì trả về giá trị mặc định (defaultValue).
    </p>

    <blockquote class="blockquote blockquote--warning mb-10">
        <p class="content__desc">Ví dụ 1: Sử dụng toán tử OR ||. <b>(Có vấn đề)</b></p>
    </blockquote>

    <pre class="language-javascript"><code class="language-javascript">function getElement(array, index, defaultValue) {
    return array[index] || defaultValue;
}</code></pre>

    <p class="content__desc mt-10 mb-10">Kết quả trả về sai mong đợi</p>
    <pre class="language-javascript"><code class="language-javascript">let numbers = [1, 5, 0];

getElement(numbers, 0, "Empty"); // 1 (đúng)
getElement(numbers, 1, "Empty"); // 5 (đúng)
// expected 0 but actual empty
getElement(numbers, 2, "Empty"); // arr[2] là 0 <=> 0 || default => "Empty" (sai)</code></pre>
    <blockquote class="blockquote blockquote--normal mt-10 mb-10">
        <p class="content__desc">Cách khắc phục với if-else</b></p>
    </blockquote>
    <pre class="language-javascript"><code class="language-javascript">function getElement(array, index, defaultValue) {
    if (array[index] !== null && array[index] !== undefined) {
        return array[index];
    }
    return defaultValue;
}</code></pre>
    <blockquote class="blockquote blockquote--normal mt-10 mb-10">
        <p class="content__desc">Cách khắc phục với toán tử 3 ngôi</b></p>
    </blockquote>
    <pre class="language-javascript"><code class="language-javascript">function getElement(array, index, defaultValue) {
    const value = array[index];
    const hasValue = value !== null && value !== undefined;
    return hasValue ? array[index] : defaultValue;
}</code></pre>

    <p class="content__desc mt-10 mb-10">
        <b>Tuy nhiên, cách sử dụng if-else và toán tử 3 ngôi có thể đúng về mặt logic</b>
    </p>
    <p class="content__desc mb-10">
        <b>Nhưng chưa mang lại ưu điểm về tính “ngắn gọn và dễ hiểu”. </b>
    </p>
    <p class="content__desc">
        <b>Sử dụng toán tử Nullish coalescing trong tình huống này là một lựa chọn tốt.</b>
    </p>

    <blockquote class="blockquote blockquote--normal mt-10 mb-10">
        <p class="content__desc">Cách khắc phục với toán tử Nullish coalescing</b></p>
    </blockquote>
    <pre class="language-javascript"><code class="language-javascript">function getElement(array, index, defaultValue) {
    // null hoặc undefined thì lấy default
    return array[index] ?? defaultValue; 
}</code></pre>

    <h3 class="content__heading-3 mt-20 mb-10">Khi nào nên sử dụng Nullish coalescing?</h3>
    <p class="content__desc mb-10">
        Sử dụng Nullish coalescing khi bạn muốn kiểm tra và xử lý các giá trị không chắc chắn như null hoặc undefined.
    </p>
    <p class="content__desc mb-10">
        Đặc biệt hữu ích trong các tình huống như: lấy giá trị từ mảng, object hoặc kiểm tra giá trị của một biến.
    </p>
    <p class="content__desc mb-10">
        Khi bạn muốn giữ lại các giá trị “falsy” khác như: 0, false, chuỗi rỗng "" v.v, nhưng vẫn muốn xử lý null và undefined.
    </p>

    <h3 class="content__heading-3 mt-20 mb-10">So sánh Nullish Coalescing (??) và OR (||):</h3>
    <p class="content__desc mb-10">
        <b>Toán tử OR (||)</b> sẽ trả về giá trị đầu tiên nếu nó là “truthy”, 
        hoặc giá trị thứ hai nếu giá trị đầu tiên là “falsy”.
    </p>
    <p class="content__desc mb-10">
        Điều này có thể dẫn đến việc không mong muốn khi xử lý các giá trị “falsy” khác như 0, false, "", v.v.
    </p>
    <p class="content__desc">
        <b>Nullish coalescing chỉ xét</b> đến <b>null</b> và <b>undefined</b>, toán tử này trở thành lựa chọn tốt hơn khi 
        bạn <b>không muốn các giá trị “falsy” khác bị ảnh hưởng</b>.
    </p>

    <h2 class="content__heading-2 mt-20 mb-10">Những lưu ý quan trọng</h2>
    <blockquote class="blockquote blockquote--warning mb-10">
        <p class="content__desc">
            Lỗi cú pháp khi kết hợp với AND (&&) hoặc OR (||): 
            Cần sử dụng dấu ngoặc để rõ ràng về ưu tiên của các toán tử.
        </p>
    </blockquote>
    <p class="content__desc mb-10">Ví dụ</p>
    <pre class="language-javascript"><code class="languge-javascript">let result = (value1 ?? value2) && value3;
// Hoặc
let result = value1 ?? (value2 && value3);</code></pre>

    <div class="separate"></div>
    <h2 class="content__heading-2 mb-10">Exercise</h2>
    <h3 class="content__heading-3 mb-10">Tạo hàm validateAge</h3>
    <p class="content__desc mb-10">
        Viết hàm <b>validateAge</b> nhận vào <b>một tham số age</b>, 
        có thể là số, null, hoặc undefined. Hàm cần kiểm tra:
    </p>
    <p class="content__desc mb-10">
        Nếu age là <b>null</b> hoặc <b>undefined</b>, trả về chuỗi <b>Error: Age is null or undefined</b>.
    </p>
    <p class="content__desc mb-10">Nếu age là <b>số hợp lệ</b> và <b>không âm</b>, trả về <b>true</b>.</p>
    <p class="content__desc mb-10">Trong <b>mọi trường hợp khác</b>, trả về <b>false</b>.</p>
    <p class="content__desc mb-10">Cách 1</p>
    <pre class="language-javascript"><code class="language-javascript">function validateAge(age) {
    return (age !== null && age !== undefined) ? (!isNaN(age) && typeof(age) === "number" && age >= 0) : "Error: Age is null or undefined";
}

// Sample usage
console.log(validateAge(25));    // true
console.log(validateAge(null));  // "Error: Age is null or undefined"
console.log(validateAge(-5));    // false</code></pre>

    <p class="content__desc mt-20 mb-10">Cách 2</p>
    <pre class="language-javascript"><code class="language-javascript">function validateAge(age) {
    const errorMessage = "Error: Age is null or undefined";
    const validAge = age ?? errorMessage;
    return validAge === errorMessage ? errorMessage : (typeof validAge === "number" && !isNaN(validAge) && validAge >= 0);
}

// Sample usage
console.log(validateAge(25));    // true
console.log(validateAge(null));  // "Error: Age is null or undefined"
console.log(validateAge(-5));    // false</code></pre>
    
    <p class="content__desc mt-20 mb-10">Cách 3</p>
    <pre class="language-javascript"><code class="language-javascript">function validateAge(age) {
    if (age === null || age === undefined) {
        return "Error: Age is null or undefined";
    }
    return !isNaN(age) && typeof age === "number" && age >= 0;
}

// Sample usage
console.log(validateAge(25));    // true
console.log(validateAge(null));  // "Error: Age is null or undefined"
console.log(validateAge(-5));    // false</code></pre>

    <h3 class="content__heading-3 mt-20 mb-10">Tạo hàm formatName</h3>
    <p class="content__desc mb-10">
        Viết <b>hàm formatName</b> nhận vào <b>hai tham số</b>: <b>firstName</b> và <b>lastName</b>.
    </p>
    <p class="content__desc mb-10">
        Hàm sẽ <b>trả về một chuỗi đầy đủ</b>, bao gồm <b>firstName và lastName</b>.
    </p>
    <p class="content__desc mb-10">
        Nếu <b>firstName</b> hoặc <b>lastName</b> là <b>null</b> hoặc <b>undefined</b>, hãy thay thế bằng một chuỗi rỗng.
    </p>
    <p class="content__desc mb-10">Cách 1</p>
    <pre class="language-javascript"><code class="language-javascript">function formatName(firstName, lastName) {
    return `${firstName ?? ""} ${lastName ?? ""}`
}

// Sample usage
console.log(formatName("John", "Doe")); // John Doe
console.log(formatName(null, "Doe"));   // Doe
console.log(formatName("John"));        // John
console.log(formatName());              //</code></pre>

    <p class="content__desc mt-20 mb-10">Cách 2</p>
    <pre class="language-javascript"><code class="language-javascript">function formatName(firstName, lastName) {
    const formattedFirstName = firstName ?? "";
    const formattedLastName = lastName ?? "";
    return `${formattedFirstName} ${formattedLastName}`;
}

// Sample usage
console.log(formatName("John", "Doe")); // John Doe
console.log(formatName(null, "Doe"));   // Doe
console.log(formatName("John"));        // John
console.log(formatName());              //</code></pre>

    <p class="content__desc mt-20 mb-10">Cách 3</p>
    <pre class="language-javascript"><code class="language-javascript">function formatName(firstName, lastName) {
    firstName = (firstName !== null && firstName !== undefined) ? firstName : "";
    lastName = (lastName !== null && lastName !== undefined) ? lastName : "";
    return `${firstName} ${lastName}`;
}

// Sample usage
console.log(formatName("John", "Doe")); // John Doe
console.log(formatName(null, "Doe"));   // Doe
console.log(formatName("John"));        // John
console.log(formatName());              //</code></pre>
</div>