<div class="content-wrap">
    <h2 class="content__heading-2 mb-20">Số nguyên và số thực</h2>
    <h3 class="content__heading-3 mb-10">Số nguyên (Integer)</h3>
    <p class="content__desc mb-10">Số nguyên là số không có phần thập phân</p>
    <p class="content__desc">Gồm dương, âm và 0</p>

    <h3 class="content__heading-3 mt-20 mb-10">Số thực (Float)</h3>
    <p class="content__desc">Gồm tất cả các số nguyên và các số có phần thập phân.</p>

    <h3 class="content__heading-3 mt-20 mb-10">Toán tử số học</h3>
    <table>
        <thead>
            <tr>
                <th>Toán tử</th>
                <th>Ý nghĩa</th>
            </tr>
        </thead>
        <tbody>
            <!-- Phép cộng -->
            <tr>
                <td>
                    <code>+</code>
                </td>
                <td>Phép cộng</td>
            </tr>
            <!-- Phép trừ -->
            <tr>
                <td>
                    <code>-</code>
                </td>
                <td>Phép trừ</td>
            </tr>
            <!-- Phép nhân -->
            <tr>
                <td>
                    <code>*</code>
                </td>
                <td>Phép nhân</td>
            </tr>
            <!-- Phép chia -->
            <tr>
                <td>
                    <code>/</code>
                </td>
                <td>Phép chia</td>
            </tr>
            <!-- Phép chia lấy dư -->
            <tr>
                <td>
                    <code>%</code>
                </td>
                <td>Phép chia lấy dư</td>
            </tr>
            <!-- Tăng giá trị biến lên 1 -->
            <tr>
                <td>
                    <code>++</code>
                </td>
                <td>Tăng giá trị biến lên 1</td>
            </tr>
            <!-- Giảm giá trị biến đi 1 -->
            <tr>
                <td>
                    <code>--</code>
                </td>
                <td>Giảm giá trị biến đi 1</td>
            </tr>
            <!-- Phép lũy thừa -->
            <tr>
                <td>
                    <code>**</code>
                </td>
                <td>Phép lũy thừa</td>
            </tr>
        </tbody>
    </table>

    <h3 class="content__heading-3 mt-20 mb-10">Toán tử gán</h3>
    <p class="content__desc">= gán giá trị cho biến</p>

    <h3 class="content__heading-3 mt-20 mb-10">Toán tử gán kết hợp</h3>
    <p class="content__desc mb-10">+=m -=, *=, /=, %=, **= kết hợp phép toán với phép gán.</p>
    <p class="content__desc">a += 8 <=> a = a + 8</p>

    <h3 class="content__heading-3 mt-20 mb-10">Lỗi thường gặp</h3>
    <blockquote class="blockquote blockquote--warning">
        <p>Chia cho 0: kết quả là <b>Infinity</b> hoặc <b>-Infinity.</b></p>
    </blockquote>

    <h3 class="content__heading-3 mt-20 mb-10">Hàm là gì?</h3>
    <p class="content__desc mb-10">Là một khối code. Thực hiện 1 tác vụ cụ thể</p>
    <p class="content__desc">Tái sử dụng. Định nghĩa 1 lần và gọi khi cần.</p>
    
    <h3 class="content__heading-3 mt-20 mb-10">Định nghĩa hàm (Function definition)</h3>
    <p class="content__desc mb-10">function showGreeting(title) {...} : hàm có <b>tham số</b></p>
    <p class="content__desc mb-10">showGreeting("Hello!") : Arguments <b>(đối số)</b></p>
    <p class="content__desc">function showGreeting(title = "Default title") : tham số mặc định (Default parameters)</p>

    <h3 class="content__heading-3 mt-20 mb-10">Toán tử i++ (<b>Post-increment</b>)</h3>
    <p class="content__desc">Trả về giá trị hiện tại của i, sau đó mới tăng giá trị lên 1.</p>

    <h3 class="content__heading-3 mt-20 mb-10">Toán tử ++i (<b>Pre-increment</b>)</h3>
    <p class="content__desc">Tăng giá trị của i lên 1, sau đó trả về giá trị mới.</p>

    <blockquote class="blockquote blockquote--normal mt-10">
        <p class="content__desc">
            Toán tử <b>--</b> có cách hoạt động tương tự. Điểm khác biệt là toán tử <b>--</b> trừ đi 1, trong khi <b>++</b> là cộng thêm 1.
        </p>
    </blockquote>

    <h2 class="content__heading-2 mt-20 mb-10">3 loại hàm trong JS</h2>
    <h3 class="content__heading-3 mb-10">Declaration function (Hàm khai báo)</h3>
    <p class="content__desc mb-10">Là <b>cách truyền thống</b> để định nghĩa 1 hàm trong JS.</p>
    <p class="content__desc mb-10">Được phép <b>gọi hàm trước</b> khi định nghĩa</p>
    <pre class="language-javascript"><code class="language-javascript">function tinhTong(a, b) {
    return a + b;
};</code></pre>

    <h3 class="content__heading-3 mt-20 mb-10">Function expression (Hàm biểu thức)</h3>
    <p class="content__desc mb-10">Là một cách để định nghĩa hàm thông qua việc <b>gán hàm cho một biến</b>.</p>
    <p class="content__desc mb-10">Hàm này <b>chỉ</b> có thể được <b>gọi sau khi nó được định nghĩa</b>.</p>
    <pre class="language-javascript"><code class="language-javascript">const tinhHieu = function(a, b) {
    return a - b;
};</code></pre>

    <h3 class="content__heading-3 mt-20 mb-10">Arrow function (Hàm mũi tên)</h3>
    <p class="content__desc mb-10">Là một <b>cú pháp ngắn</b> gọn được giới thiệu trong <b>ES6</b></p>
    <p class="content__desc mb-10">Hàm mũi tên đặc biệt <b>hữu ích khi làm việc</b> với các <b>hàm vô danh</b> và <b>hàm callback</b>.</p>
    <pre class="language-javascript"><code class="language-javascript">const tinhTich = (a, b) => {
    return a * b;
};</code></pre>
    <p class="content__desc mt-10">Hoặc <b>return</b> luôn sau dấu mũi tên:</p>
    <pre class="language-javascript"><code class="language-javascript">const tinhTich = (a, b) => a * b;</code></pre>
    <p class="content__desc mt-10">Hoặc rút gọn <b>không cần</b> cặp <b>ngoặc đơn</b>:</p>
    <pre class="language-javascript"><code class="language-javascript">const double = n => n * 2;</code></pre>

    <blockquote class="blockquote blockquote--warning mt-10">
        <p class="content__desc">Lưu ý: Nếu gọi hàm trước khi định nghĩa sẽ xảy ra lỗi: Uncaught ReferenceError: Cannot access 'double' before initialization.</p>
    </blockquote>

    <h3 class="content__heading-3 mt-20 mb-10">Khi nào sử dụng loại hàm nào?</h3>
    <p class="content__desc mb-10">
        <b>Declaration function (Hàm khai báo)</b>: Khi cần sử dụng được hàm trước khi khai báo, hoặc đơn giản muốn dùng cách truyền thống.
    </p>
    <p class="content__desc mb-10">
        <b>Function expression (Hàm biểu thức)</b>: Khi muốn chỉ gọi được hàm sau khi khai báo, hoặc khi hàm được sử dụng như một giá trị (ví dụ, truyền hàm như một tham số).
    </p>
    <p class="content__desc mb-10">
        <b>Arrow function (Hàm mũi tên)</b>: Khi cần một cú pháp ngắn gọn hoặc khi làm việc với this trong một ngữ cảnh nhất định (vì hàm mũi tên không có this riêng của nó).
    </p>

    <blockquote class="blockquote blockquote--normal">
        <p class="content__desc">
            Khi nào sử dụng?: Hàm khai báo cho hoisting và rõ ràng; Hàm biểu thức cho hạn chế hoisting và sử dụng hàm như giá trị; Hàm mũi tên cho cú pháp ngắn gọn và làm việc với this trong ngữ cảnh nhất định.
        </p>
    </blockquote>

    <h3 class="content__heading-3 mt-20 mb-10">Hiểu về khái niệm Hoisting</h3>
    <p class="content__desc mb-10">
        Hoisting trong Javascript là một hành vi mặc định của Javascript,
        nơi mà các khai báo biến (<b>var, let, const</b>) và hàm (<b>function declaration</b>)
        được đưa lên đầu phạm vi của chúng trước khi code được thực thi.
    </p>
    <p class="content__desc mb-10">Tình huống xảy ra <b>hoisting</b></p>
    <pre class="language-javascript"><code class="language-javascript">console.log(greeting); // output: undefined
var greeting = 'Hello';</code></pre>

    <blockquote class="blockquote blockquote--normal mt-10 mb-10">
        <p class="content__desc">
            <b>let</b> và <b>const</b> củng sẽ có hoisting. Tuy nhiên lý do gì gây ra sự hiểu nhầm là không.
        </p>
        <p class="content__desc">
            Nguyên nhân là vì nó được đưa vào <b>temporal dead zone (TDZ)</b>.
        </p>
    </blockquote>
    <p class="content__desc">Nắm hoisting để hiểu thêm về ngôn ngữ.</p>
</div>