<div class="content-wrap">
    <h2 class="content__heading-2 mb-10">Primitive và Reference types</h2>
    <h3 class="content__heading-3 mb-10">Primitive types</h3>
    <figure class="wrap-img">
        <img class="wrap-img__image" src="../../assets/img/chapter-15/1.png" alt="">
    </figure>
    <h4 class="content__heading-4 mb-10">Primitive types là gì?</h4>
    <p class="content__desc mb-10">
        Trong JavaScript, các kiểu dữ liệu nguyên thủy 
        (primitive types) bao gồm: string, number, bigint, boolean, symbol, null và undefined.
    </p>
    <p class="content__desc">
        Đây là những kiểu dữ liệu mà giá trị của chúng 
        chỉ chứa một giá trị đơn giản và không phải là một đối tượng.
    </p>

    <h4 class="content__heading-4 mt-20 mb-10">Cách Primitive types được lưu trữ</h4>
    <p class="content__desc mb-10">
        Các giá trị nguyên thủy được lưu trực tiếp tại vị trí bộ nhớ mà biến chỉ đến
    </p>
    <p class="content__desc mb-10">
        Không giống như reference types (chỉ lưu địa chỉ tham chiếu đến nơi chứa dữ liệu thực tế).
    </p>
    <pre class="language-javascript"><code class="language-javascript">let userName = "Bob";
let userAge = 25;</code></pre>
    <figure class="wrap-img">
        <img class="wrap-img__image" src="./assets/img/chapter-15/2.png" alt="">
    </figure>
</div>